!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%title Correo		
		:css
			a:link {
				text-decoration: none; 
				color: #00CCFF;
			}
			a:visited {
				color: #00CCFF;
				text-decoration: none;
			}		
			
			a:hover, a:active, a:focus { 
				text-decoration: none;
			}
%body{style: "font: 100%/1.4 Arial, Helvetica, sans-serif;background-color: #CCCCCC;margin: 0;padding: 0;			color: #666"}
	.container{style: "width: 600px;background-color: #FFF;margin-top: 0;margin-right: auto;margin-bottom: 0px;				margin-left: auto;"}
		.content{style:"margin: auto;padding-top: 10px;padding-right: 0;padding-bottom: 10px;padding-left: 0;"}
			= image_tag "http://ordenes.suimprenta.com.ve/assets/logo-c4df60aee41c66bdb126d50575699849.png", width: "200px", style: "margin-left: 15px;"
			%h1{style: "margin-top: 0;margin-bottom: 0;padding-right: 15px;padding-left: 15px;color: #333333;"} &nbsp;
			%h1{style: "margin-top: 0;margin-bottom: 0;padding-right: 15px;padding-left: 15px;color: #333333;"}= "Hola, #{@client.name}"
			%h2{style: "margin-top: 0;margin-bottom: 0;padding-right: 15px;padding-left: 15px;color: #336699;"} Gracias por registrarte en lithoxpress online.
			%br/
			%br/
			%p{style: "font-weight:lighter;margin-top: 0;margin-bottom: 0;padding-right: 15px;padding-left: 15px;font-size: 14px;"}
				Ahora podrás acceder a las múltiples funciones que ofrece nuestro servicio en línea. Sólo debes ingresar a través de este
				%a{:href => "http://ordenes.suimprenta.com.ve/users/sign_in", :target => "_blank", style: "    text-decoration: none;"} link
				usando los siguientes datos:
			%br/
			%h4{style: "margin-top: 0;margin-bottom: 0;padding-right: 15px;padding-left: 15px; text-decoration: none;"}
				= "EMAIL: #{@client.email}"
				%br/
				= "CONTRASEÑA: #{@password}"
			%br/
			%p{style: "font-weight:lighter;margin-top: 0;margin-bottom: 0;padding-right: 15px;padding-left: 15px;font-size: 14px; "} Una vez ingresado podrás cambiar la contraseña si lo deseas.
			%p{style: "font-weight:lighter;margin-top: 0;margin-bottom: 0;padding-right: 15px;padding-left: 15px; "} &nbsp;
		#pie{style: "xt-align: center;padding: 0px;margin: 0px;background-color: #336699;color: #FFF;font-size: 14px;"}
			%p{style: "font-weight:lighter;margin-top: 0;margin-bottom: 0;padding-right: 15px;padding-left: 15px; "}
				LithoXpress Online es un servicio exclusivo para clientes de Gráficas Litho Xpress, c.a. Si usted recibió este correo por error por favor repórtelo a
				%a{:href => "mailto: soporte@suimprenta.com.ve", style: "color: #CCCCCC;text-decoration: none;"} soporte@suimprenta.com.ve
				y bórrelo de inmediato
		#website{style: "text-align:center;padding:0px;margin:0px;background-color:#336699;color:#FFF;font-size: 14px;"}
			%a{:href => "http://www.ordenes.suimprenta.com.ve/", style:"color: #FF9900;font-size: x-large;font-weight: normal;text-decoration: none;"}
				www.suimprenta.com.ve




