.nested-fields
	.input-group
		= f.input :complement_stamp_id, as: :select, label:false, collection: Stamp.all_stamps.collect { |x| [x.nombre, x.codigo.strip] }, input_html: { class: "form-control" }, include_blank: "-- Añadir sello --"
		%span.input-group-btn
			= link_to_remove_association f, class: "btn btn-warning", style: "color:white;" do
				%i.fa.fa-trash
	%br/