%div{ style: "padding:30px; padding-bottom:0px;"}
	= content_for(:title, "Admin - Accessorios - Editar")
	- flash.each do |name, msg|
		- if msg.is_a?(String)
			%div{:class => "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'}", style: 'margin-top:-20px; margin-bottom:10px;'}
				%button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
				= content_tag :div, msg, :id => "flash_#{name}"

	= simple_form_for(@complement, :url => accesory_path, :method => :put) do |f|
		.panel.panel-default
			.panel-heading
				%i.fa.fa-th-list
				Editar sello
			.panel-body
				#parts
					= f.input :accessory_id, as: :hidden, input_html: { value: params[:id] }
					= f.simple_fields_for :parts do |part|
						= render 'part_fields', :f => part
					.links
						= link_to_add_association 'Agregar sello', f, :parts, class: "btn btn-default pull-right"

			.panel-footer
				= f.button :submit, "Guardar", class: 'btn btn-warning pull-right'
				.clearfix

:javascript
	$(":file").filestyle({buttonBefore: true});