= content_for(:title, "Admin - Accesorios")

%div{'ng-controller'=>'indexAccessoryCtrl',  'ng-init'=>'init()', style:"padding:30px;padding-bottom:0px;"}
	.angular
		.form-inline
			.form-group
				.input-group
					.input-group-addon
						%i.fa.fa-search
					%input#input-search{"ng-model" => "buscar.$", :placeholder => "Filtrar búsqueda", :type => "text"} 
		.alert{class: 'alert-{{statusAlert}}', 'ng-show'=>"alert==true"} 
			%strong Admin:    
			{{msnAlert}}
			%button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
		= render 'layouts/admin/messages'

		%br/
		.panel.panel-default
			.panel-heading
				%button.btn.btn-default.pull-right.hidden-xs{'disabled'=>"", style:"color:#000"}
					Página {{page}}
				%button.btn.btn-default.pull-right{"ng-click" => "nextList();"}
					%i.fa.fa-arrow-right
				%button.btn.btn-default.pull-right{"ng-click" => "lastList();"}
					%i.fa.fa-arrow-left
				.clearfix
			.panel-body
				%table{style: "width:100%"}
					%tbody
						%th{ "ng-show" => "accesories.data" }
							%center
								Código
						%th{ "ng-show" => "accesories.data" }
							%center
								Nombre
						%th{ "ng-show" => "accesories.data" }
							%center
								Precio
						%th{ "ng-show" => "accesories.data" }
							%center
								Precio+iva
						%tr{ class: "select-{{accessory.checked}}", "ng-click" => "show(accessory.id)", :id => "row-{{accessory.id}}", "ng-repeat" => "accessory in accesories.data | filter:buscar | interval:interval_a:interval_b"}
							%div
								%td.messages 
									%center {{accessory.codigo}}
								%td.messages 
									%center {{accessory.nombre}}
								%td.messages 
									%center {{accessory.precio}}
								%td.messages
									%center {{accessory.precioiva}}
								%td.messages
									= link_to "/admin/accesories/{{accessory.codigo}}", title: t('admin.actions.show') do
										%i.fa.fa-exclamation-circle
									= link_to "/admin/accesories/{{accessory.codigo}}/edit", title: t('admin.actions.edit') do
										%i.fa.fa-edit
						%tr{"ng-show" => "!accesories.data.length"}
							%td{:style => "width:100%"}
								%center
									- if current_user.has_role? :cliente and current_user.ods_count != 0
										%i.fa.fa-spinner.fa-spin{ style: "font-size:30px; margin-bottom:10px;"}
										%br
										Espere unos segundos
									- elsif Ods.count != 0 and !current_user.has_role? :cliente
										%i.fa.fa-spinner.fa-spin{ style: "font-size:30px; margin-bottom:10px;"}
										%br
										Espere unos segundos
									- else
										No hay sellos
							
			.panel-footer
				%center
					%strong {{ accesories.data.length }} 
					Accesorios