= content_for(:title, "Admin - Accesorio | #{@accessory.nombre}")
%div{ style: "padding:30px; padding-bottom:0px;"}
	- flash.each do |name, msg|
		- if msg.is_a?(String)
			%div{:class => "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'}", style: 'margin-top:-20px; margin-bottom:10px;'}
				%button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
				= content_tag :div, msg, :id => "flash_#{name}"
	.panel.panel-default
		.panel-heading
			%i.fa.fa-exclamation-circle
				Accessorio
			= link_to "Editar", edit_accesory_path, class: "btn btn-warning pull-right", style: "color:white;"
			.clearfix
		.panel-body
			%label Código:
			= @accessory.codigo
			%br/
			%label Nombre:
			= @accessory.nombre
			%br/
			%label Precio: 
			= @accessory.precio1.round 2
			%br/
			%label Precio+iva: 
			= @accessory.preciofin1.round 2
			%br/
			%label Pertenece a los siguiente sellos:
			- @accessory.complement_accessory.parts.each do |part|
				%br/
				= part.stamp.nombre
				
