.modal.fade#modal-catalog{"aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", :role => "dialog", :tabindex => "-1", id: "modal-#{c.id}"}
	.modal-dialog.modal-lg{ style: "max-width: 600px; max-heigh: 400px;" }
		.modal-content{ style: "background: rgb(14, 102, 153);"}
			.modal-header{ style: "background: rgb(242, 148, 0); border: 0px;"}
				%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}

				%h4.modal-title{ style: "color:white;"}= "Accesorios para sello #{c.stamp.codigo}"
			.container-fluid.modal-stamp
				.row
					.col-lg-4#caja
						.img-content
							= image_tag "caja.png"
						%h2 Sello solo
						%p= "Código: #{c.caja.codigo}"
						- if c.caja.preciofin1.to_i.zero?
							%h3 No disponible
						- else
							%h3= number_to_currency(c.caja.preciofin1, :precision => 2, format: "%u %n", unit: "Bs.")
							%p IVA INCLUIDO
					.col-lg-4#almohadilla
						.img-content
							= image_tag "almohadilla.png"
						%h2 Almohadilla
						%p= "Código: #{c.almohadilla.codigo}"
						- if c.almohadilla.preciofin1.to_i.zero?
							%h3 No disponible
						- else
							%h3= number_to_currency(c.almohadilla.preciofin1, :precision => 2, format: "%u %n", unit: "Bs.")
							%p IVA INCLUIDO
					.col-lg-4#goma
						.img-content
							= image_tag "goma.png"
						%h2 Goma
						%p= "Código: #{c.goma.codigo}"
						- if c.goma.preciofin1.to_i.zero?
							%h3 No disponible
						- else
							%h3= number_to_currency(c.goma.preciofin1, :precision => 2, format: "%u %n", unit: "Bs.")
							%p IVA INCLUIDO