= content_for(:title, "Catálogo de sellos")
.stamps-frontend
	.container
		- @stamps.each do |c|
			- stamp = c.stamp
			.row{ style: "margin: 20px 0px 20px 0px; border-bottom: 1px solid #dddddd; padding: 10px 0px 10px 0px;", id: "row-stamp-#{c.id}" }
				.col-lg-4.col-xs-6
					.content-img-stamp
						.cod-stamp= stamp.codigo
						= image_tag c.image_stamp
				.col-lg-4.col-xs-6.col-padding
					%label.example-used Ejemplo de uso:			
					= image_tag c.example_stamp, style: "", class: "example-stamp"
				.col-lg-4.col-xs-12.col-sm-6.padding
					%label.margin-top Descripción:
					= stamp.nombre
					%br/
					%label Medidas:
					= "#{c.width} x #{c.height} mm"
					%br/
					%label.price{ style: "color: #ff6600; font-size:16px;" }= number_to_currency(stamp.preciofin1, :precision => 2, format: "%u %n", unit: "Bs.")
					%br/
					= link_to catalog_modal_path(c.id), class: "btn btn-primary", "data-target" => "#modal-catalog_modal-#{c.id}", "data-toggle" => "modal", :type => "button", remote: true, id: "link-modal-#{c.id}", style: "background: #004577"  do
						Accesorios
					:javascript
						$("#link-modal-#{c.id}").click(function() {
						  $(this).html("Cargando...")
						});
						
				
			= render "modal", c: c
		%center	
			= paginate @stamps

- if controller_name == "visitors"
	:javascript
		$("#front-navbar").css( "position", "relative" );				