$("#row-stamp-#{@stamp.id}").append("#{j render('modal', c: @stamp)}")
$('#link-modal-#{@stamp.id}').removeAttr("data-remote")
$('#link-modal-#{@stamp.id}').removeAttr("href")
$('#modal-#{@stamp.id}').modal("show")
$('#modal-#{@stamp.id}').on('hidden.bs.modal', function (e) {
$('#link-modal-#{@stamp.id}').html("Accesorios")
})


