= content_for(:title, "Admin - Dashboard")
%div{ style: "padding:30px; padding-bottom:30px; padding-top:0px;"}
	- flash.each do |name, msg|
		- if msg.is_a?(String)
			%div{:class => "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'}"}
				%button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
				= content_tag :div, msg, :id => "flash_#{name}"
	.row
		.col-lg-4.col-md-4.col-sm-4
			.panel-info		
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-6{style:"z-index:1"}
						.number-info
							= Location.all.count
						.title-info{ style: "font-size:16px"}
							Visitas
					.col-lg-6.col-md-6.col-sm-6.col-xs-6			
						.icon-info
							%i.fa.fa-eye
		.col-lg-4.col-md-4.col-sm-4
			.panel-info
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-6{style:"z-index:1"}
						.number-info
							= User.count
						.title-info{ style: "font-size:16px"}
							Usuarios
					.col-lg-6.col-md-6.col-sm-6.col-xs-6			
						.icon-info
							%i.fa.fa-users
		.col-lg-4.col-md-4.col-sm-4
			.panel-info
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-6{style:"z-index:1"}
						.number-info
							= DateTime.now.strftime("%d")
						.title-info{ style: "font-size:16px"}
							= DateTime.now.strftime("%B")
					.col-lg-6.col-md-6.col-sm-6.col-xs-6			
						.icon-info
							%i.fa.fa-calendar
	.row	
		.col-lg-12.col-md-12.col-sm-12
			.panel-info2
				= #area_chart Location.group_by_day(:created_at, format: "%b %d'%y").count, discrete: true, library: { backgroundColor: "none",  hAxis: { title: 'Días', titleTextStyle: { color: '#c0c0c0', italic: false }, textStyle: { color: '#c0c0c0' } }, vAxis: { title: 'Visitas', titleTextStyle: { color: '#c0c0c0', italic: false }, textStyle: { color: '#c0c0c0' } }, colors: ['#F4DD5A'] } 	
				
		.col-lg-6.col-md-6.col-sm-12
			.panel-info2{ style: "padding-top: 15px; margin-right:-8px;" }
				= geo_chart Location.group(:country).count, library: { backgroundColor: "none", colors: ['#FFBF00'] }
		.col-lg-6.col-md-6.col-sm-12
			.panel-info2
				= pie_chart User.group_by_roles	, library: { backgroundColor: "none"}
		.col-lg-12.col-md-12.col-sm-12
			.panel-info2
				= line_chart Order.group_by_day(:created_at, format: "%b %d'%y").count, discrete: true, library: { backgroundColor: "none",  hAxis: { title: 'Días', titleTextStyle: { color: '#c0c0c0', italic: false }, textStyle: { color: '#c0c0c0' } }, vAxis: { title: 'Solicitudes por día', titleTextStyle: { color: '#c0c0c0', italic: false }, textStyle: { color: '#c0c0c0' } }, colors: ['#F4DD5A'] } 	

%footer{style:"padding-bottom:20px;"}
	%center
		Todos los derechos reservados 
		%span
			%i.fa.fa-copyright
		Litoxpress 2015 | Desarrollado por 
		= image_tag "slicegroup.png", width: "50px", style: "display:inline; margin-left: 1px;"