= content_for(:title, "Admin - Dashboard")
%div{ style: "padding:30px; padding-bottom:30px; padding-top:0px;"}
	- flash.each do |name, msg|
		- if msg.is_a?(String)
			%div{:class => "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'}"}
				%button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
				= content_tag :div, msg, :id => "flash_#{name}"
	.row
		.col-lg-6.col-md-6.col-sm-6
			.panel-info
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-6{style:"z-index:1"}
						.number-info#hora
							= Ods.en_proceso current_user
						.title-info{ style: "font-size:16px"}
							En proceso
					.col-lg-6.col-md-6.col-sm-6.col-xs-6			
						.icon-info
							%i.fa.fa-truck
		.col-lg-6.col-md-6.col-sm-6
			.panel-info
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-6{style:"z-index:1"}
						.number-info
							= DateTime.now.strftime("%d")
						.title-info{ style: "font-size:16px"}
							= DateTime.now.strftime("%B")
					.col-lg-6.col-md-6.col-sm-6.col-xs-6			
						.icon-info
							%i.fa.fa-calendar
	.row	 	
		.col-lg-12.col-md-12.col-sm-12
			.panel-info2
				= #line_chart Order.mis_solicitudes_por_dia(current_user).group_by_day(:created_at, format: "%b %d'%y").count, discrete: true, library: { backgroundColor: "none",  hAxis: { title: 'Días', titleTextStyle: { color: '#c0c0c0', italic: false }, textStyle: { color: '#c0c0c0' } }, vAxis: { title: 'Solicitudes por día', titleTextStyle: { color: '#c0c0c0', italic: false }, textStyle: { color: '#c0c0c0' } }, colors: ['#F4DD5A'] } 	

%footer{style:"padding-bottom:20px;"}
	%center
		Todos los derechos reservados 
		%span
			%i.fa.fa-copyright
		Litoxpress 2015 | Desarrollado por 
		= image_tag "slicegroup.png", width: "50px", style: "display:inline; margin-left: 1px;"

.modal.fade#MyModal
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
					%span{"aria-hidden" => "true"} &times;
				%h4.modal-title{ style: "color:white; "} Información de soporte.
			.modal-body
				%p Si necesesitas alguna ayuda, puedes contactarnos a través de los siguientes medios.
				%label Teléfono:
				%span= Miscellaneou.first.phone_support
				%br
				%label Email:
				%span= Miscellaneou.first.email_support
			.modal-footer
				%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar