= content_for(:title, "Admin - Dashboard")
%div{ style: "padding:30px; padding-bottom:30px; padding-top:0px;"}
	- flash.each do |name, msg|
		- if msg.is_a?(String)
			%div{:class => "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'}"}
				%button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
				= content_tag :div, msg, :id => "flash_#{name}"
	.row
		.col-lg-4.col-md-4.col-sm-4
			.panel-info
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-6{style:"z-index:1"}
						.number-info#hora
							= Reorder.por_aprobar
						.title-info{ style: "font-size:16px"}
							Por aprobar
					.col-lg-6.col-md-6.col-sm-6.col-xs-6			
						.icon-info
							%i.fa.fa-retweet
		.col-lg-4.col-md-4.col-sm-4
			.panel-info
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-6{style:"z-index:1"}
						.number-info
							= Ods.where("Estatus != 8").count
						.title-info{ style: "font-size:16px"}
							En proceso
					.col-lg-6.col-md-6.col-sm-6.col-xs-6			
						.icon-info
							%i.fa.fa-truck
		.col-lg-4.col-md-4.col-sm-4
			.panel-info
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-6{style:"z-index:1"}
						.number-info
							= DateTime.now.strftime("%d")
						.title-info{ style: "font-size:16px"}
							= DateTime.now.strftime("%B")
					.col-lg-6.col-md-6.col-sm-6.col-xs-6			
						.icon-info
							%i.fa.fa-calendar
	.row					
		.col-lg-12.col-md-6.col-sm-12
			.panel-info2
				= pie_chart Ods.group_by_status	, library: { backgroundColor: "none"}

%footer{style:"padding-bottom:20px;"}
	%center
		Todos los derechos reservados 
		%span
			%i.fa.fa-copyright
		Litoxpress 2015 | Desarrollado por 
		= image_tag "slicegroup.png", width: "50px", style: "display:inline; margin-left: 1px;"