= content_for(:title, "Admin - Dashboard")
%div{ style: "padding:30px; padding-bottom:30px; padding-top:0px;"}
	- flash.each do |name, msg|
		- if msg.is_a?(String)
			%div{:class => "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'}"}
				%button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
				= content_tag :div, msg, :id => "flash_#{name}"
	.row
		.col-lg-3.col-md-6.col-sm-6
			.panel-info		
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-6{style:"z-index:1"}
						.number-info
							= Ods.status_design_count("Aprobado")
						.title-info{ style: "font-size:14px"}
							Aprobados
						
					.col-lg-6.col-md-6.col-sm-6.col-xs-6			
						.icon-info
							%i.fa.fa-check
		.col-lg-3.col-md-6.col-sm-6
			.panel-info
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-6{style:"z-index:1"}
						.number-info
							= Ods.status_design_count("No aprobado")
						.title-info{ style: "font-size:14px"}
							No aprobados
					.col-lg-6.col-md-6.col-sm-6.col-xs-6			
						.icon-info
							%i.fa.fa-ban
		.col-lg-3.col-md-6.col-sm-6
			.panel-info
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-6{style:"z-index:1"}
						.number-info#hora
							= Ods.status_design_count("Aprobado con observaciones")
						.title-info{ style: "font-size:14px"}
							Aprobado con obs.
					.col-lg-6.col-md-6.col-sm-6.col-xs-6			
						.icon-info
							%i.fa.fa-list-ol
		.col-lg-3.col-md-6.col-sm-6
			.panel-info
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-6{style:"z-index:1"}
						.number-info
							= DateTime.now.strftime("%d")
						.title-info{ style: "font-size:14px"}
							= DateTime.now.strftime("%B")
					.col-lg-6.col-md-6.col-sm-6.col-xs-6			
						.icon-info
							%i.fa.fa-calendar
	.row					
		.col-lg-12.col-md-6.col-sm-12
			.panel-info2
				= pie_chart Validation.group_by_status	, library: { backgroundColor: "none"}
		.col-lg-12.col-md-12.col-sm-12
			.panel-info2
				= line_chart Validation.group_by_day(:created_at, format: "%b %d'%y").count, discrete: true, library: { backgroundColor: "none",  hAxis: { title: 'Días', titleTextStyle: { color: '#c0c0c0', italic: false }, textStyle: { color: '#c0c0c0' } }, vAxis: { title: 'Validaciones por día', titleTextStyle: { color: '#c0c0c0', italic: false }, textStyle: { color: '#c0c0c0' } }, colors: ['#F4DD5A'] } 	

%footer{style:"padding-bottom:20px;"}
	%center
		Todos los derechos reservados 
		%span
			%i.fa.fa-copyright
		Litoxpress 2015 | Desarrollado por 
		= image_tag "slicegroup.png", width: "50px", style: "display:inline; margin-left: 1px;"