- if current_user.has_role? :admin
	.row{ style: "margin:0px;" }
		.col-lg-12
			= image_tag "logo.png", class: "logo-dashboard pull-left"
	= render "dashboard_admin"
- if current_user.has_role? :cliente
	.row{ style: "margin:0px;" }
		.col-lg-12
			= image_tag "logo.png", class: "logo-dashboard pull-left"
			= link_to "", class: "logo-support pull-right", "data-toggle"=>"modal", "data-target"=>"#MyModal" do
				%i.fa.fa-question-circle
	= render "dashboard_client"
- if current_user.has_role? :diseñador
	.row{ style: "margin:0px;" }
		.col-lg-12
			= image_tag "logo.png", class: "logo-dashboard"
	= render "dashboard_design"
- if current_user.has_role? :ventas
	.row{ style: "margin:0px;" }
		.col-lg-12
			= image_tag "logo.png", class: "logo-dashboard"
	= render "dashboard_sales"
