!!!
%html
	%head
	%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
	%body
		%h3= "#{@reorder.user.name} ha recotizado la orden N° #{@reorder.ods_id}"
		= link_to "Haga click en el enlace para ver la cotización.", "http://ordenes.suimprenta.com.ve"+reorder_path(@reorder.id)