!!!
%html
	%head
	%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
	%body
		%h3= "#{@order.user.nombre} ha validado los diseños de la orden N° #{@order.OdsId}"

		%p
			%label Estado:
			= @validation.status
		%p
			%label Descripcion:
			=	@validation.description

		= link_to "Haga click en el enlace para ver las validaciones.", "http://ordenes.suimprenta.com.ve"+od_path(@order.OdsId)