!!!
%html
	%head
	%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
	%body
		%h3= "Hola #{@reorder.user.name}, su cotización ha sido procesada."
		- if @reorder.status == "Cotizada"
			%p= "La recotización de la orden N° #{@reorder.ods_id}, ha sido cotizada"
			= link_to "Haga click en el enlace para ver la cotización.", "http://ordenes.suimprenta.com.ve"+reorder_path(@reorder.id)
		- if @reorder.status == "No cotizada"
			%p= "Lamentablemente la cotización de la orden N° #{@reorder.ods_id}, no pudo ser cotizada."
			Para mas información debe dirigirse a nuestras o escribirnos a ventas@suimprenta.com.ve.