!!!
%html
	%head
	%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
	%body
		%h3= "Hola #{@order.user.nombre}, se han añadido diseños a su orden N° #{@order.OdsId}"
		= link_to "Haga click en el enlace para ver los diseños.", "http://ordenes.suimprenta.com.ve"+od_path(@order.OdsId)
