-# navigation styled for Bootstrap 3.0
- if current_user
	%nav.navbar.navbar-default.navbar-fixed-top#admin-navbar.visible-xs
		.navbar-header
			- if current_user
				%button.navbar-toggle#button-navbar
					%span.sr-only Toggle navigation
					%span.icon-bar
					%span.icon-bar
					%span.icon-bar
			= link_to main_app.root_path do
				= image_tag "logo-blank.png", class: 'navbar-brand'
				= #image_tag "logo.png", class: 'navbar-brand visible-sm visible-xs'
		.collapse.navbar-collapse
			%ul.nav.navbar-nav.navbar-right.hidden-sm
				= render 'layouts/admin/navigation_links'
