%li{ class: "#{'active' if params[:controller] == 'admin'}" }
  = link_to main_app.admin_index_path do
    %i.fa.fa-desktop
    Dashboard
%li{ class: "#{'active' if params[:controller] == 'ods' or params[:controller] == 'attachments' or params[:controller] == 'validations'}" }
  = link_to main_app.ods_path do
    %i.fa.fa-truck
    Ordenes
- unless current_user.has_role? :diseñador
  %li{ class: "#{'active' if params[:controller] == 'reorders'}" }
    = link_to main_app.reorders_path do
      %i.fa.fa-file-text
      Cotizaciones
= render "layouts/admin/links_engines"
- if can? :index, User and current_user.has_role? :admin
  %li{ class: "#{'active' if params[:controller] == 'users'}" }
    = link_to main_app.users_path do
      %i.fa.fa-user
      =t t('user.model')
- if current_user.has_role? :admin
  %li{ class: "#{'active' if params[:controller] == 'stamps'}" }
    = link_to stamps_path do
      %i.fa.fa-hdd-o
      Sellos
  %li{ class: "#{'active' if params[:controller] == 'categories'}" }
    = link_to categories_path do
      %i.fa.fa-tags
      Categorías
  %li{ class: "#{'active' if params[:controller] == 'miscellaneous'}" }
    = link_to edit_miscellaneou_path(1) do
      %i.fa.fa-cog
      Configuración

%li.visible-xs
  = link_to main_app.root_path do
    = "<i class='fa fa-reply'></i> #{t("navbar-admin.website")}".html_safe
