!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'LithoXpress Online - Consulta de Ordenes'
    %link{:href => "http://fonts.googleapis.com/css?family=Titillium+Web:300", :rel => "stylesheet", :type => "text/css"}/
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'LithoXpress Online - Consulta de Ordenes'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag "//www.google.com/jsapi", "chartkick"
    = csrf_meta_tags
    = favicon_link_tag "favicon.ico"
  %body#admin{style:"font-family: 'Titillium Web', sans-serif;background: #f2f2f2;"}
    %header
      = render 'layouts/admin/navigation'
    %main{:role => "main"}
      .row.fluid
        = render 'layouts/admin/sidebar'
        - if params[:controller] == 'devise/sessions' or  params[:controller] == 'devise/passwords'#vista para login
          .col-lg-12.margin-login
            - flash.each do |name, msg|
              - if msg.is_a?(String)
                %div{:class => "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'}", style: "margin-bottom:10px;"}
                  %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
                  = content_tag :div, msg, :id => "flash_#{name}"
            = yield
        - if params[:controller] == 'users' and params[:action] == 'sign_up' #vista para login
          .col-lg-12
            = yield
        - if current_user #vista para current_user
          .main
            .title-admin
              .row
                .col-lg-12.col-md-12.col-sm-12.name-title
                  = raw t("controllers.#{params[:controller].split("/").last.downcase}")
                  = " - "+t("admin.actions.#{params[:action].downcase}") unless params[:controller] == 'admin'

            = yield

    - if not current_user
      %footer{style:"padding-bottom:20px;margin-top:10%;"}
        %div
          %center
            Todos los derechos reservados 
            %span
              %i.fa.fa-copyright
            Litoxpress 2015 | Desarrollado por 
            = image_tag "slicegroup.png", width: "50px", style: "display:inline; margin-left: 1px;"

      
    

