%div{ style: "padding:30px; padding-bottom:0px;"}
	= content_for(:title, "Admin - Configuración")
	- flash.each do |name, msg|
		- if msg.is_a?(String)
			%div{:class => "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'}", style: 'margin-top:-20px; margin-bottom:10px;'}
				%button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
				= content_tag :div, msg, :id => "flash_#{name}"

	= simple_form_for(@complement, :url => stamp_path, :method => :put) do |f|
		.panel.panel-default
			.panel-heading
				%i.fa.fa-th-list
				Editar sello
				%b= params[:id]
			.panel-body
				.form-inputs
					.row
						.col-lg-6.col-md-6
							- unless @complement.image_stamp.blank?
								= image_tag @complement.image_stamp, width: "200px"
							= f.input :image_stamp, label: "Imagen del sello", as: :file, input_html: { class: "filestyle" }
						.col-lg-6.col-md-6
							- unless @complement.image_stamp.blank?
								= image_tag @complement.example_stamp, width: "200px"
							= f.input :example_stamp, label: "Imagen de ejemplo", as: :file, input_html: { class: "filestyle" }
					%br/
					= f.input :category_id, collection: Category.all, input_html: { class: "form-control" }, label:false, include_blank: "- Selecionar categoría -"
					%br
					= f.input :group, collection: 1..20, include_blank: "- Selecionar Grupo -", input_html: { class: "form-control" }, label:false
					%br
					= f.input :height, label: false, input_html: { class: "form-control", placeholder: 'Alto' }
					%br
					= f.input :width, label: false, input_html: { class: "form-control", placeholder: 'Ancho' }
					%br/
					= f.input :almohadilla_id, collection: Accessory.where(subgrupo: 1).collect { |x| [x.nombre, x.codigo.strip] }, input_html: { class: "form-control" }, label:false, include_blank: "- Almohadilla -"
					%br/
					= f.input :goma_id, collection: Accessory.where(subgrupo: 2).collect { |x| [x.nombre, x.codigo.strip] }, input_html: { class: "form-control" }, label:false, include_blank: "- Goma -"
					%br/
					= f.input :caja_id, collection: Accessory.where(subgrupo: 3).collect { |x| [x.nombre, x.codigo.strip] }, input_html: { class: "form-control" }, label:false, include_blank: "- Caja -"
					%br/
					= f.input :public, as: :boolean, label: "¿Publicar?", input_html: { style: "margin-left:0px;" }
					= f.input :stamp_id, as: :hidden, input_html: { value: "#{params[:id]}" }


			.panel-footer
				= f.button :submit, "Guardar", class: 'btn btn-warning pull-right'
				.clearfix

:javascript
	$(":file").filestyle({buttonBefore: true});