= content_for(:title, "Admin - Sellos | #{@stamp.nombre}")
%div{ style: "padding:30px; padding-bottom:0px;"}
	- flash.each do |name, msg|
		- if msg.is_a?(String)
			%div{:class => "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'}", style: 'margin-top:-20px; margin-bottom:10px;'}
				%button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
				= content_tag :div, msg, :id => "flash_#{name}"
	.panel.panel-default
		.panel-heading
			%i.fa.fa-exclamation-circle
				Sello
			= link_to "Editar", edit_stamp_path, class: "btn btn-warning pull-right", style: "color:white;"
			.clearfix
		.panel-body
			- if @stamp.complement_stamp
				.row
					.col-lg-6
						= image_tag @stamp.complement_stamp.image_stamp, width: "200px"
					.col-lg-6
						= image_tag @stamp.complement_stamp.example_stamp, width: "200px"
			%label Código:
			= @stamp.codigo
			%br/
			%label Nombre:
			= @stamp.nombre
			%br/
			%label Precio: 
			= @stamp.precio1.round 2
			%br/
			%label Precio+iva: 
			= @stamp.preciofin1.round 2
			
			-if @stamp.complement_stamp
				%br/
				%label Categoría:
				= @stamp.complement_stamp.category ? @stamp.complement_stamp.category.name : "Sin categoría" 
				%br/
				%label Grupo:
				= @stamp.complement_stamp.group
				%br/
				%label Alto:
				= @stamp.complement_stamp.height
				%br/
				%label Ancho:
				= @stamp.complement_stamp.width
				%br/
				%label= "#{@stamp.complement_stamp ? 'Publicado' : 'No publicado'}"
