= content_for(:title, "Admin - Usuarios")

%div{'ng-controller'=>'indexUserCtrl',  'ng-init'=>'init()', style:"padding:30px;padding-bottom:0px;"}
	.angular
		.form-inline
			.form-group
				.input-group
					.input-group-addon
						%i.fa.fa-search
					%input#input-search{"ng-model" => "buscar.$", :placeholder => t("admin.user.actions.search"), :type => "text"} 
		.alert{class: 'alert-{{statusAlert}}', 'ng-show'=>"alert==true"} 
			%strong Admin:    
			{{msnAlert}}
			%button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
		= render 'layouts/admin/messages'
		%br/
		.panel.panel-default
			.panel-heading
				- if can? :delete, User
					= link_to new_user_path, class: "btn btn-default", title: t("admin.buttons.new") do
						%i.fa.fa-plus-circle
				- if can? :delete, User
					%a.btn.btn-default{"ng-show" => "users.data.length", "ng-click" => "allSelected(users)", :title => t("admin.buttons.select_all") }
						%i.fa.fa-check-square-o
					%button#btn-delete.btn.btn-default{class: "btn-{{btnDelete}}", "ng-click" => "destroy()", :title => t("admin.buttons.trash") }
						%i.fa.fa-trash-o
				%button.btn.btn-default.pull-right.hidden-xs{'disabled'=>"", style:"color:#000"}
					Página {{page}}
				%button.btn.btn-default.pull-right{"ng-click" => "nextList();"}
					%i.fa.fa-arrow-right
				%button.btn.btn-default.pull-right{"ng-click" => "lastList();"}
					%i.fa.fa-arrow-left
			.panel-body
				%table{style: "width:100%"}
					%tbody
						- if @users.count > 1
							%th{ "ng-show" => "users.data" }
							%th{ "ng-show" => "users.data" }
								%center Nombre
							%th{ "ng-show" => "users.data" }
								%center Email
							%th{ "ng-show" => "users.data" } 
								%center Código
							%th{ "ng-show" => "users.data" } 
								%center Rol
						%tr{ class: "select-{{user.checked}}", "ng-click" => "show(user.id)", :id => "row-{{user.id}}", "ng-repeat" => "user in users.data | filter:buscar | interval:interval_a:interval_b "}
							%td.messages{width: "1px;"}
								- if can? :delete, User or current_user.has_role? :admin != true
									%input.check{:id => "check-{{user.id}}", "ng-click" => "selected(user.id); $event.stopPorpagation();", :type => "checkbox", "ng-model" => "user.checked"}
							%td.messages 
								%center {{user.name}}
							%td.messages.hidden-xs 
								%center {{ user.email }}
							%td.messages.hidden-xs 
								%center {{ user.cod }}
							%td.messages.hidden-xs 
								%center {{ roles[user.rol] }}
							%td.messages
								%a{"data-toggle" => "modal", :href => "#role-options-{{user.id}}", :type => "button"}= t("user.change-rol")
							%td.messages
								= link_to "/admin/users/{{user.id}}", title: t('admin.actions.show') do
									%i.fa.fa-exclamation-circle
								- if can? :delete, User or current_user.has_role? :admin != true
									= link_to "/admin/users/{{user.id}}/edit", title: t('admin.actions.edit') do
										%i.fa.fa-edit
								- if can? :delete, User or current_user.has_role? :admin != true
									= link_to "{{destroy_path(user.id)}}", title: t('admin.actions.delete'), :method => :delete, :data => { :confirm => '¿Estas seguro de querer eliminar este usuario?' } do
										%i.fa.fa-trash-o
								= render "modal_role"
						%tr{"ng-show" => "!users.data.length"}
							%td{:style => "width:100%"}
								%center
									%i.fa.fa-frown-o
									No hay Usuarios.

							
			.panel-footer
				%center
					%strong= @users.count
					Usuarios







