= content_for(:title, "Admin - Usuarios | #{@user.name}")
%div{ style: "padding:30px; padding-bottom:0px;"}
	.panel.panel-default
		.panel-heading
			%i.fa.fa-exclamation-circle
				= t('user.info_user')
		.panel-body
			%label= t('user.name')+': '
			= @user.name
			%br/
			%label= t('user.email')+': '
			= @user.email
			%br/
			%label Código: 
			= @user.cod
			%br
			%label= t('user.rol')+': '
			= t("roles.#{@user.roles.first.name}")
