= image_tag "logo.png", class: "logo-login"
.authform
	- flash.each do |name, msg|
		- if msg.is_a?(String)
			%div{:class => "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'}", style: "margin-bottom:10px;"}
				%button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
				= content_tag :div, msg, :id => "flash_#{name}"
	= form_tag({:controller =>'users', :action => 'register'}, method: :post) do
		.form-group
			Ingrese su correo electrónico
			= text_field_tag :email, nil, class: "form-control"
		.form-group{ style:"margin-bottom:0px"}
			= submit_tag "Registrar", :class => 'pull-right btn btn-warning'
			.clearfix
		.panel-footer{ style: "margin-top:17px; padding-bottom:0px;" }
			%center
				= link_to "Iniciar sesión", new_user_session_path