= devise_error_messages!
= image_tag "logo.png", class: "logo-login"
.authform
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
    %center
      %h3 Cambiar contraseña
    = f.hidden_field :reset_password_token
    .form-group
      = f.password_field :password, autofocus: true, autocomplete: 'off', class: 'form-control', placeholder: 'Nueva contraseña'
      %br/
      = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control', placeholder: 'Confirmar nueva contraseña'
    .panel-footer{ style: "margin-top:17px; padding-bottom:0px; background:transparent;" }
      %center
        = f.submit 'Guardar', :class => 'btn btn-warning'
