= devise_error_messages!
= image_tag "logo.png", class: "logo-login"
.authform
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f|
    %h4 ¿Olvidaste tu contraseña?
    %p Le enviaremos instrucciones para restablecer su contraseña.
    .form-group
      = f.email_field :email, :autofocus => true, placeholder: 'Email', class: 'form-control'
    .panel-footer{ style: "margin-top:17px; padding-bottom:0px; background:transparent;" }
      %center
        = f.submit 'Reestablecer contraseña', :class => 'btn btn-warning'
