%div{ style: "padding:30px; padding-bottom:0px;"}
	.panel.panel-default
		.panel-heading
			Sustituir boceto
		= simple_form_for(@attachment) do |f|
			.panel-body
				.field
					= f.input :ods_id, as: :hidden
					= image_tag @attachment.image, class: "thumbnail"
					%br
					= f.input :image, label: false
					%br
					%label Descripción
					= f.input :description, label: false, input_html: { class: "form-control" }
			.panel-footer
				= link_to "Volver", od_path(@attachment.ods_id), class: "btn btn-default"
				= f.submit "Actualizar", class: "pull-right btn btn-warning"
				.clearfix
		

:javascript
	$(":file").filestyle({buttonBefore: true});