- i = 0
= content_for(:title, "Admin - Orden | Imagenes")
%div{ style: "padding:30px; padding-bottom:0px;"}
	- flash.each do |name, messages|
		%div{:class => "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'}", style: "margin-bottom: 14px; margin-top:0px;"}
			%button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
			- if messages.class == Hash
				- messages.each do |column, errors|
					- errors.each do |msg|
						%div
							= "Imagen: #{msg.humanize}"
			- else 
				= messages
			- flash.delete :danger
	.panel.panel-default
		.panel-heading
			Gestión de bocetos
		= form_for(@ods, :html => { :multipart => true }) do |f|
			.panel-body
				= f.fields_for :attachments do |p|
					.col-lg-4.col-md-4.col-sm-4
						.field
							- unless @ods.attachments[i].id.blank?
								.title{ style: "margin-bottom: 5px" }
									%center
										= @ods.attachments[i].name
								.thumbnail
									= image_tag @ods.attachments[i].image
									.caption
										- unless @ods.attachments[i].description.blank?
											%center
												%h3{ style: "margin-top:0px;" } Descripción
											%p= @ods.attachments[i].description
										- else
											%center
												%p Sin descripcón
								%center
									= link_to edit_attachment_path(@ods.attachments[i].id), class: "attachment" do								
										Cambiar
									|
									= link_to attachment_path(@ods.attachments[i].id), :method => :delete, :data => { :confirm => '¿Estas seguro que deseas eliminar esta imagen?' } do
										Eliminar
							%br
								- if @ods.attachments[i].image.blank?
									= p.file_field :image, class: "filestyle","data-buttonBefore"=>"true"
									%br
									%label Descripción:
									= p.text_area :description, value: @ods.attachments[i].description, class: "form-control"
								- i += 1
				.col-lg-12.col-md-12.col-sm-12.col-xs-12{style: "margin-top:10px;"}
					= check_box_tag :approve_design, true, @ods.approve_design ? @ods.approve_design.approve : false 
					%label{ style: "margin-left: 10px;"} ¿El cliente debe escoger una propuesta?
			.panel-footer
				= f.submit "Guardar", class: "pull-right btn btn-warning"
				= link_to "Ver", od_path(@ods.id), class: "btn btn-warning", style: "color:white;"
				.clearfix
			

:javascript
	$(":file").filestyle({buttonBefore: true});