= content_for(:title, "Admin - Ordenes")

%div{'ng-controller'=>'indexOdsCtrl',  'ng-init'=>'init()', style:"padding:30px;padding-bottom:0px;"}
	.angular
		.form-inline
			.form-group
				.input-group
					.input-group-addon
						%i.fa.fa-search
					%input#input-search{"ng-model" => "buscar.$", :placeholder => "Filtrar búsqueda", :type => "text"} 
		.alert{class: 'alert-{{statusAlert}}', 'ng-show'=>"alert==true"} 
			%strong Admin:    
			{{msnAlert}}
			%button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
		= render 'layouts/admin/messages'

		%br/
		.panel.panel-default
			.panel-heading
				%button.btn.btn-default.pull-right.hidden-xs{'disabled'=>"", style:"color:#000"}
					Página {{page}}
				%button.btn.btn-default.pull-right{"ng-click" => "nextList();"}
					%i.fa.fa-arrow-right
				%button.btn.btn-default.pull-right{"ng-click" => "lastList();"}
					%i.fa.fa-arrow-left
				.clearfix
			.panel-body
				%table{style: "width:100%"}
					%tbody
						%th{ "ng-show" => "orders.data" }
							%center
								Código
						- if current_user.has_role? :diseñador
							%th{ "ng-show" => "orders.data" }
								%center
									Cliente
						%th{ "ng-show" => "orders.data" }
							%center
								Descripción
						%th{ "ng-show" => "orders.data" }
							%center
								Estatus de orden
						- unless current_user.has_role? :diseñador
							%th{ "ng-show" => "orders.data" }
								%center
									Fecha de Entrega
						%th{ "ng-show" => "orders.data" }
							%center
								Estatus de diseño
						%th{ "ng-show" => "orders.data" }
							%center
								¿Suspendida?
						%th{ "ng-show" => "orders.data" }
						%tr{ class: "select-{{order.checked}}", "ng-click" => "show(order.id)", :id => "row-{{order.id}}", "ng-repeat" => "order in orders.data | filter:buscar | interval:interval_a:interval_b"}
							%div
								%td.messages {{order.odsid}}
								- if current_user.has_role? :diseñador
									%td.messages{ title: "{{order.user_name}}" } {{order.user_name_truncate}}
								%td.messages.hidden-xs{ title: "{{order.descripcion}}"  } {{ order.description_truncate }}
								%td.messages.hidden-xs
									.label.label-danger{ "ng-if"=>"order.estatus == 1", style: "font-size: 14px;"} {{ order.status }}
									.label.label-info{ "ng-if"=>"order.estatus != 1 && order.estatus != 8", style: "font-size: 14px;"} {{ order.status }}
									.label.label-success{ "ng-if"=>"order.estatus == 8", style: "font-size: 14px;"} {{ order.status }}
								- unless current_user.has_role? :diseñador
									%td.messages.hidden-xs {{ order.fechaentrega }}
								%td.messages.hidden-xs{ style: "max-width:600px;" } {{ order.validation }}
								%td.messages
									{{order.suspendida}}
								%td.messages
									= link_to "/ods/{{order.odsid}}", title: t('admin.actions.show') do
										%i.fa.fa-exclamation-circle
									- if current_user.has_role? :diseñador
										= link_to "/ods/{{order.odsid}}/edit", title: "Agregar bocetos" do
											%i.fa.fa-file-image-o
									- if current_user.has_role? :cliente
										= link_to "/ods/{{order.odsid}}/clone", title: "Cotizar nuevamente esta orden", "ng-if"=>"order.estatus == 8" do
											%i.fa.fa-file-text
						%tr{"ng-show" => "!orders.data.length"}
							%td{:style => "width:100%"}
								%center
									- if current_user.has_role? :cliente and current_user.ods_count != 0
										%i.fa.fa-spinner.fa-spin{ style: "font-size:30px; margin-bottom:10px;"}
										%br
										Espere unos segundos
									- elsif Ods.count != 0 and !current_user.has_role? :cliente
										%i.fa.fa-spinner.fa-spin{ style: "font-size:30px; margin-bottom:10px;"}
										%br
										Espere unos segundos
									- else
										No hay ordenes
							
			.panel-footer
				%center
					%strong {{ orders.data.length }} 
					Ordenes