= content_for(:title, "Admin - Orden | #{@order.OdsId}")
%div{ style: "padding:30px; padding-bottom:0px;"}
	- flash.each do |name, msg|
		- if msg.is_a?(String)
			%div{:class => "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'}", style: 'margin-top:-20px; margin-bottom:10px;'}
				%button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
				= content_tag :div, msg, :id => "flash_#{name}"
	.panel.panel-default
		.panel-heading
			%i.fa.fa-exclamation-circle
				Orden
		.panel-body
			.item{ style: "margin-bottom:5px" }
				%label Número de orden:
				= @order.OdsId
			- if !current_user.has_role? :cliente
				.item{ style: "margin-bottom:5px" }
					%label Código del cliente:
					= @order.Cliente
				.item{ style: "margin-bottom:5px" }
					%label Nombre del cliente:
					= Cliempre.find_by_codigo(@order.Cliente).nombre
			.item{ style: "margin-bottom:5px" }
				%label Fecha de emisión:
				= @order.Fecha
			.item{ style: "margin-bottom:5px" }
				%label Fecha de entrega:
				= @order.FechaEntrega.nil? ? "N/A" : @order.FechaEntrega
			.item{ style: "margin-bottom:5px" }
				%label Descripción
				= @order.Descripcion
			.item{ style: "margin-bottom:5px" }
				%label Para:
				= @order.Para
			.item{ style: "margin-bottom:5px" }
				%label Precio unitario:
				= number_to_currency(@order.PrecioUnitario, :precision => 2, format: "%n %u", unit: "Bs.")
			.item{ style: "margin-bottom:5px" }
				%label Cantidad:
				= number_with_precision @order.Cantidad, precision: 0
			.item{ style: "margin-bottom:5px" }
				%label Total:
				= number_to_currency(@order.Total, :precision => 2, format: "%n %u", unit: "Bs.")
			.item{ style: "margin-bottom:5px" }
				%label Abonado:
				= number_to_currency(@order.Abono, :precision => 2, format: "%n %u", unit: "Bs.")
			.item{ style: "margin-bottom:5px" }
				%label Facturado:
				= @order.Facturado ? "Si" : "No"
			- if @order.Estatus != 1 and @order.AprobarModelo == true
				.item{ style: "margin-bottom:5px"}
					%label Fecha de entrega:
					= @order.FechaEntrega
			- if !current_user.has_role? :cliente
				.item{ style: "margin-bottom:5px" }
					%label Anulada:
					= @order.Anulado ? "Si" : "No"
				.item{ style: "margin-bottom:5px" }
					%label Suspendida:
					= @order.Suspendida ? "Si" : "No"	
			.item{ style: "margin-bottom:5px" }
				%label Estatus:
				- if @order.Estatus == 8
					.label.label-success{ style: "font-size: 14px;"}= Stat.find(@order.Estatus).name.humanize
				- elsif @order.Estatus == 1
					.label.label-danger{ style: "font-size: 14px;"}= Stat.find(@order.Estatus).name.humanize
				- else
					.label.label-info{ style: "font-size: 14px;"}= Stat.find(@order.Estatus).name.humanize
	- if @order.Estatus == 1
		.panel.panel-default
			.panel-heading
				%i.fa.fa-image
					Diseños
				- if current_user.has_role? :diseñador
					= link_to edit_od_path(@order.id), class: "btn btn-warning pull-right", style: "color: white;" do
						%i.fa.fa-file-image-o
						Agregar diseños
					.clearfix
			.panel-body
				- if @order.validations.blank? or @order.validations.last.selection_image.blank?
					- @order.attachments.each_with_index do |img, i|
						.title{ style: "margin-bottom: 5px" }
							= img.name
							.date.pull-right
								%strong Ultima actualización:
								=  "#{img.updated_at.to_formatted_s(:db)}"
						= image_tag img.image, class: "thumbnail"
						.caption-description
							- unless img.description.blank?
								%p= img.description
							- else
								%center
									%p Sin descripción
						%hr{ style: "border-top: 1px solid #DADADA;"}
					- if @order.attachments.count == 0
						%center
							Aún no hay diseños para esta orden.
				- else
					- img = @order.attachments.find(@order.validations.last.selection_image)

					.title{ style: "margin-bottom: 5px" }
						= img.name
						.date.pull-right
							%strong Ultima actualización:
							=  "#{img.updated_at.to_formatted_s(:db)}"
						.images-order
							%i.fa.fa-check-circle.select-image{ style:"color:#{@order.validations.last.colors_announce};"}
							= image_tag img.image, class: "thumbnail"
						%center
							%h1{ style: "color:#{@order.validations.last.colors_announce}"}
								= @order.validations.last.status
						.caption-description
							- unless img.description.blank?
								%p= img.description
							- else
								%center
									%p Sin descripción 
						%hr{ style: "border-top: 1px solid #DADADA;"}
				
			.panel-footer
				- unless @order.attachments.empty?
					= link_to "Validar", "#", class: "pull-right btn btn-warning", style: "color:white;", "data-toggle" => "modal", "data-target" => ".validation-form" if current_user.has_role? :cliente and @valid != 'Aprobado'
					.clearfix

	- unless @order.attachments.count == 0
		.panel.panel-default#validation
			.panel-heading
				%i.fa.fa-comment
					Validaciones
			.panel-body
				- if @order.validations.count > 0
					- @order.validations.reverse.each do |validation|
						.well
							.pull-right
								= validation.created_at.to_formatted_s(:db)
							- if validation.status == "Aprobado"
								.status.label.label-success{ style: "font-size: 14px; margin-top:20px;"}
									= validation.status
							- elsif validation.status == "Aprobado con observaciones"
								.status.label.label-info{ style: "font-size: 14px; margin-top:20px;"}
									= validation.status
							- else validation.status == "Desaprobado"
								.status.label.label-danger{ style: "font-size: 14px; margin-top:20px;"}
									= validation.status
							.description{ style: 'margin-top:20px;'}
								= validation.description
				- else
					%center
						El cliente aún no validado
			.panel-footer

= simple_form_for @validation, :url => url_for(:action => 'create', :controller => 'validations'), :method => 'post' do |f|
	.modal.fade.validation-form{"aria-hidden" => "true", "aria-labelledby" => "modal-validate", :role => "dialog", :tabindex => "-1" }
		.modal-dialog
			.modal-content
				.modal-header
					%button.close{"data-dismiss" => "modal", :type => "button"}
						%span{"aria-hidden" => "true"} &times;
						%span.sr-only Close
					%h4#modal-validate.modal-title{ style: "color:white;"} Validación de diseño.
				.modal-body
					.form-inputs
						= f.input :status, label: false, collection: @order.validations.status_options(@order.id), include_blank: "- Validación -", input_html: { class: "form-control" }
						%br
						- if !@order.approve_design.nil? and @order.approve_design.approve and @order.validations.select_image_permit?(@order.id)
							.radio-content{ style: "display:none"}
								%center
									= f.input :selection_image, :collection => @order.attachments, :label_method => :name, :value_method => :id, :as => :radio_buttons, :item_wrapper_class => 'radio-validation', :checked => true, label: false
								%br
						= f.input :description, label: false, input_html: { class: 'form-control', placeholder: "Argumenta tu validación", style: "height: 120px;" }
						%br
						= f.input :ods_id, as: :hidden
				.modal-footer
					%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar
					= f.submit "Guardar", class: "pull-right btn btn-warning"

:javascript
	$("#validation_status").change(function() {
		if ( $(this).val() == "Aprobado con observaciones" || $(this).val() == "Aprobado") {
			$(".radio-content").css("display", "block")
		} else {
			$(".radio-content").css("display", "none")
		}
	});