= content_for(:title, "Admin - Configuración")
- flash.each do |name, msg|
	- if msg.is_a?(String)
		%div{:class => "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'}", style: 'margin-top:-20px; margin-bottom:10px;'}
			%button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
			= content_tag :div, msg, :id => "flash_#{name}"
= simple_form_for(@miscellaneou) do |f|
	.panel.panel-default
		.panel-heading
			%i.fa.fa-th-list
			Datos de configuración
		.panel-body
			.form-inputs
				= f.input :email_design, label: false, input_html: { class: "form-control", placeholder: 'Email para administración de diseños' }
				%br
				= f.input :email_ventas, label: false, input_html: { class: "form-control", placeholder: 'Email para administración de ventas' }
				%br
				= f.input :email_support, label: false, input_html: { class: "form-control", placeholder: 'Email para soporte' }
				%br
				= f.input :phone_support, label: false, input_html: { class: "form-control", placeholder: 'Teléfono para soporte' }
				%br/
				= f.input :iva, label: false, input_html: { class: "form-control", placeholder: 'IVA' }
				%br/
				= f.input :notification_time, label: false, input_html: { class: "form-control", placeholder: 'Tiempo para enviar las notificaciones (Formato 24hrs)' }
		.panel-footer
			= f.button :submit, "Guardar", class: 'btn btn-warning pull-right'
			.clearfix

= simple_form_for("", url: miscellaneou_send_notifications_manual_path(@miscellaneou)) do |f|
	.panel.panel-default
		.panel-heading
			%i.fa.fa-th-list
			Envio de correos manual
		.panel-body
			.form-inputs
				= f.input :date, label: false, input_html: { class: "form-control", placeholder: 'Enviar correos a las ods creadas en esta fecha (formato: 2016-04-21)' }


		.panel-footer
			= f.button :submit, "Enviar", id: "send-btn",class: 'btn btn-warning pull-right', "data-loading-text"=>"Enviando..."
			.clearfix

:javascript
	$('#send-btn').on('click', function () {
		var $btn = $(this).button('loading')
	})