%h1 Listing miscellaneous

%table
  %tr
    %th Email design
    %th Email ventas
    %th
    %th
    %th

  - @miscellaneous.each do |miscellaneou|
    %tr
      %td= miscellaneou.email_design
      %td= miscellaneou.email_ventas
      %td= link_to 'Show', miscellaneou
      %td= link_to 'Edit', edit_miscellaneou_path(miscellaneou)
      %td= link_to 'Destroy', miscellaneou, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Miscellaneou', new_miscellaneou_path
