%p#notice= notice

%p
  %b Email design:
  = @miscellaneou.email_design
%p
  %b Email ventas:
  = @miscellaneou.email_ventas

= link_to 'Edit', edit_miscellaneou_path(@miscellaneou)
\|
= link_to 'Back', miscellaneous_path
