= simple_form_for(@reorder) do |f|
	.panel.panel-default
		.panel-heading
			%i.fa.fa-th-list
			- if action_name.eql?("edit")
				= "(#{@reorder.ods.OdsId}) #{@reorder.ods.Descripcion}"
			- else
				Datos de solicitud
		.panel-body
			.form-inputs
				%br
				%label Cantidad
				= f.input :cantidad, label: false, input_html: { class: "form-control", placeholder: 'Cantidad', step:'1', min:'1'}
				- if current_user.has_role? :ventas or current_user.has_role? :admin
					%br
					%label Precio
					= f.input :price, label: false, input_html: { class: "form-control", placeholder: 'Precio unitario', step:'1', min:'1'}
					%br
					%label Introduzca días de validez
					= f.input :emision_date, label: false, input_html: { class: "form-control", placeholder: 'Días de emisión', step:'1', min:'1'}
					%br
					%label Observacion
					= f.input :description, label: false, input_html: { class: "form-control", placeholder: 'Observacion'}
		.panel-footer
			= f.button :submit, "Guardar", class: "btn btn-warning pull-right"
			.clearfix