= content_for(:title, "Admin - Cotizaciones")

%div{'ng-controller'=>'indexReorderCtrl',  'ng-init'=>'init()', style:"padding:30px;padding-bottom:0px;"}
	.angular
		.form-inline
			.form-group
				.input-group
					.input-group-addon
						%i.fa.fa-search
					%input#input-search{"ng-model" => "buscar.$", :placeholder => "Filtrar búsqueda", :type => "text"} 
		.alert{class: 'alert-{{statusAlert}}', 'ng-show'=>"alert==true"} 
			%strong Admin:    
			{{msnAlert}}
			%button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
		= render 'layouts/admin/messages'

		%br/
		.panel.panel-default
			.panel-heading
				- if current_user.has_role? :cliente
					%a.btn.btn-default{"ng-show" => "reorders.data.length", "ng-click" => "allSelected(reorders)", :title => t("admin.buttons.select_all") }
						%i.fa.fa-check-square-o
					%button#btn-delete.btn.btn-default{class: "btn-{{btnDelete}}", "ng-click" => "destroy()", :title => t("admin.buttons.trash") }
						%i.fa.fa-trash-o
				%button.btn.btn-default.pull-right.hidden-xs{'disabled'=>"", style:"color:#000"}
					Página {{page}}
				%button.btn.btn-default.pull-right{"ng-click" => "nextList();"}
					%i.fa.fa-arrow-right
				%button.btn.btn-default.pull-right{"ng-click" => "lastList();"}
					%i.fa.fa-arrow-left
				.clearfix
			.panel-body
				%table{style: "width:100%"}
					%tbody
						- if @reorders.count != 0
							%th{ "ng-show" => "reorders.data" }
							%th{ "ng-show" => "reorders.data" }
								%center
								Código de orden
							%th{ "ng-show" => "reorders.data" }
								%center
									Cliente
							%th{ "ng-show" => "reorders.data" }
								%center
									Descripción
							%th{ "ng-show" => "reorders.data" }
								%center
									Estatus de la cotización
							%th{ "ng-show" => "reorders.data" }
						%tr{ class: "select-{{reorder.checked}}", "ng-click" => "show(reorder.id)", :id => "row-{{reorder.id}}", "ng-repeat" => "reorder in reorders.data | filter:buscar | interval:interval_a:interval_b "}
							%td.messages{width: "1px;"}
								%input.check{:id => "check-{{reorder.id}}", "ng-click" => "selected(reorder.id); $event.stopPorpagation();", :type => "checkbox", "ng-model" => "reorder.checked"}
							%td.messages {{reorder.ods_id}}
							%td.messages {{reorder.client_name}}
							%td.messages {{ reorder.ods.descripcion }}
							%td.messages.hidden-xs
								.label.label-info{ "ng-if"=>"reorder.status == 'Por cotizar'", style: "font-size: 14px;"} {{ reorder.status }}
								.label.label-success{ "ng-if"=>"reorder.status == 'Cotizada'", style: "font-size: 14px;"} {{ reorder.status }}
								.label.label-danger{ "ng-if"=>"reorder.status == 'No cotizada'", style: "font-size: 14px;"} {{ reorder.status }}
							%td.messages
								= link_to "/reorders/{{reorder.id}}", title: t('admin.actions.show') do
									%i.fa.fa-exclamation-circle
								- if !current_user.has_role? :diseñador
									= link_to "/reorders/{{reorder.id}}/edit", title: t('admin.actions.edit'), "ng-if"=>"reorder.status != 'Cotizada'" do
										%i.fa.fa-edit
								- if current_user.has_role? :cliente
									= link_to "{{destroy_path(reorder.id)}}", title: t('admin.actions.delete'), :method => :delete, :data => { :confirm => '¿Estás seguro de querer eliminar esta cotización?' } do
										%i.fa.fa-trash-o
						%tr{"ng-show" => "!reorders.data.length"}
							%td{:style => "width:100%"}
								%center
									- if current_user.has_role? :cliente and current_user.reorders.count == 0
										No tienes cotizaciones
									- elsif current_user.has_role? :cliente and current_user.reorders.count != 0
										%i.fa.fa-spinner.fa-spin{ style: "font-size:30px; margin-bottom:10px;"}
										%br
										Espere unos segundos
									- elsif !current_user.has_role? :cliente and Reorder.count != 0
										%i.fa.fa-spinner.fa-spin{ style: "font-size:30px; margin-bottom:10px;"}
										%br
										Espere unos segundos
									- else
										No hay cotizaciones
							
			.panel-footer
				%center
					%strong {{ reorders.data.length }} 
					Cotizaciones
