= content_for(:title, "Admin - Reorden | #{@reorder.id}")
%div{ style: "padding:30px; padding-bottom:0px;"}
	- flash.each do |name, msg|
		- if msg.is_a?(String)
			%div{:class => "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'}", style: 'margin-top:-20px; margin-bottom:10px;'}
				%button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
				= content_tag :div, msg, :id => "flash_#{name}"
	.panel.panel-default
		.panel-heading
			%i.fa.fa-exclamation-circle
			Datos de la cotización
		.panel-body
			%label Código de la orden a recotizar:
			= @reorder.ods_id
			%br
			%label Nombre del cliente:
			= User.find_by_cod(@order.Cliente).name
			%br/
			- unless current_user.has_role? :cliente
				%label Código del cliente:
				= @order.Cliente
				%br
			%label Fecha de la orden original:
			= @order.Fecha
			%br/
			%label Observación
			= @reorder.description
			%br/
			%label Descripción
			= @order.Descripcion
			%br/
			%label Para
			= @order.Para
			%br/
			%label Precio unitario:
			= @reorder.price == 0 ? "En espera de asignación de precio" : number_to_currency(@reorder.price, :precision => 2, format: "%n %u", unit: "Bs.")
			%br/
			%label Cantidad:
			=  number_with_precision(@reorder.cantidad, :precision => 0)
			%br/
			%label Total (incluye IVA):
			= @reorder.price*@reorder.cantidad == 0 ? "En espera de asignación de precio" : number_to_currency(@total_amount, :precision => 2, format: "%n %u", unit: "Bs.")
			%br/
			%label Fecha de cotización:
			= @reorder.created_at. strftime("%Y-%m-%d")
			%br
			- if @reorder.status == "Cotizada"
				%label Valida hasta:
				- date = @reorder.created_at+@reorder.emision_date.day 
				= date.strftime("%Y-%m-%d")
				- if current_user.has_role? :cliente
					.well{style:'margin-top:10px; margin-bottom:0px;'}
						%center
							%strong Nota: 
							Debe dirigirse a nuestra oficina para ordenar su trabajo.

			- elsif @reorder.status == "No cotizada"
				%label Estado:
				.label.label-danger{ style: "font-size: 14px;"}= @reorder.status
			- else
				%label Estado:
				.label.label-info{ style: "font-size: 14px;"}= @reorder.status

		.panel-footer
			- if !current_user.has_role? :diseñador
				= link_to 'Editar', edit_reorder_path(@reorder), class: 'btn btn-warning pull-right', style: "color: white; margin-left: 5px" if @reorder.status == "Por cotizar"

			- if current_user.has_role? :ventas or current_user.has_role? :admin and @reorder.status == "Por cotizar"
				= link_to 'No cotizar', changed_status_reorders_path(@reorder, 2), method: :post, :data => { :confirm => '¿Estas seguro de querer desaprobar?, luego no podrá deshacer este cambio.' }, class: 'btn btn-danger pull-right', style: "color: white;"
				= link_to 'Cotizar', changed_status_reorders_path(@reorder, 1), method: :post, :data => { :confirm => '¿Estas seguro de querer aprobar?, luego no podrá deshacer este cambio.' }, class: 'btn btn-success pull-right', style: "color: white; margin-right: 5px;"

			- if current_user.has_role? :admin and @reorder.status != "Por cotizar"
				= link_to 'Deshacer', changed_status_reorders_path(@reorder, 0), method: :post, :data => { :confirm => '¿Estas seguro de querer Deshacer?, esta acción cambiara el estado a "Por cotizar"' }, class: 'btn btn-warning pull-right', style: "color: white;"
			.clearfix


