.item#copies-description
	%p{ style: "font-weight: none; text-align:justify;"}
		De acuerdo a tus necesidades específicas, el producto puede tener un número determinado de copias. 
	%p{ style: "font-weight: none; text-align:justify;"}
		Cada original y sus copias se conoce como un juego, según número de copias el producto puede tener cantidades diferentes de juegos.
	.element-selected
		.row#original.item-desc
			.col-lg-4
				= image_tag "copies/Original.png"
			.col-lg-8.desc
				%label{ style: "font-size: 20px;"} Solo original
				%p{ style: "text-align:justify;" }
					El producto contiene una hoja de cada número, se usa únicamente para documentos en los que no se requiere conservar una copia del mismo. Cada talonario o block contiene 100 hojas. No es apto para documentos fiscales.
		.row#duplicado.item-desc
			.col-lg-4
				= image_tag "copies/Duplicado.png"
			.col-lg-8.desc
				%label{ style: "font-size: 20px;"} Duplicado
				%p{ style: "text-align:justify;" }
					El producto contiene un original y una copia de cada número. Cada talonario o block contiene 50 juegos, es decir 100 hojas.
		.row#triplicado.item-desc
			.col-lg-4
				= image_tag "copies/Triplicado.png"
			.col-lg-8.desc
				%label{ style: "font-size: 20px;"} Triplicado
				%p{ style: "text-align:justify;" }
					El producto contiene un original y dos copias de cada número. Cada talonario o block contiene 50 juegos, es decir 150 hojas.
		.row#cuadruplicado.item-desc
			.col-lg-4
				= image_tag "copies/Cuadruplicado.png"
			.col-lg-8.desc
				%label{ style: "font-size: 20px;"} Cuadruplicado
				%p{ style: "text-align:justify;" }
					El producto contiene un original y tres copias de cada número. Cada talonario o block contiene 50 juegos, 200 hojas.