.col-lg-3.col-md-3.col-xs-12{style:"padding: 0; height: 100%;"}
  .row.menu-select{style:"margin: 0;"}
    %p.menu-select-title Selecciona las características de tu producto
    %div
      %ul.nav.nav-tabs.visible-lg.visible-md{:role => "tablist"}

        %li#menu-1{:role => "presentation"}
          %a.disabled#show-form{"aria-controls" => "home", "data-toggle" => "tab", :href => "#tipo-de-armado", :role => "tab"}
            %img{:src => "/assets/ordenes/icono1.png"}
            %p Tipo de armado

        %li#menu-2.disabled{:role => "presentation"}
          %a{"aria-controls" => "profile", "data-toggle" => "tab", :href => "#tamano", :role => "tab"}
            %img{:src => "/assets/ordenes/icono2.png"}
            %p Tamaño

        %li#menu-3.disabled{:role => "presentation"}
          %a{"aria-controls" => "messages", "data-toggle" => "tab", :href => "#numero-de-colores", :role => "tab"}
            %img{:src => "/assets/ordenes/icono3.png"}
            %p Numeros de colores

        %li#menu-4.disabled{:role => "presentation"}
          %a{"aria-controls" => "settings", "data-toggle" => "tab", :href => "#material", :role => "tab"}
            %img{:src => "/assets/ordenes/icono4.png"}
            %p Material

        %li#menu-5.disabled{:role => "presentation"}
          %a{"aria-controls" => "settings", "data-toggle" => "tab", :href => "#numeros-de-copias", :role => "tab"}
            %img{:src => "/assets/ordenes/icono5.png"}
            %p Numeros de copias 

      %ul.nav.nav-tabs.visible-xs.visible-sm{:role => "tablist"}
        %center
          %li#menu-1-mobile{:role => "presentation"}
            %center
              %a.disabled#show-form-mobile{"aria-controls" => "home", "data-toggle" => "tab", :href => "#tipo-de-armado", :role => "tab"}
                %img{:src => "/assets/ordenes/icono1.png"}
                %p Tipo

          %li#menu-2-mobile.disabled{:role => "presentation"}
            %center
              %a{"aria-controls" => "profile", "data-toggle" => "tab", :href => "#tamano", :role => "tab"}
                %img{:src => "/assets/ordenes/icono2.png"}
                %p Tamaño

          %li#menu-3-mobile.disabled{:role => "presentation"}
            %center
              %a{"aria-controls" => "messages", "data-toggle" => "tab", :href => "#numero-de-colores", :role => "tab"}
                %img{:src => "/assets/ordenes/icono3.png"}
                %p Colores

          %li#menu-4-mobile.disabled{:role => "presentation"}
            %center
              %a{"aria-controls" => "settings", "data-toggle" => "tab", :href => "#material", :role => "tab"}
                %img{:src => "/assets/ordenes/icono4.png"}
                %p Material

          %li#menu-5-mobile.disabled{:role => "presentation"}
            %center
              %a{"aria-controls" => "settings", "data-toggle" => "tab", :href => "#numeros-de-copias", :role => "tab"}
                %img{:src => "/assets/ordenes/icono5.png"}
                %p Copias

    .cotizar-codigo
      %p.cotizar-codigo-title Cotizar por código
      = link_to "#", id:"help" do
        %i.fa.fa-question
      = form_tag({controller: "orders", action: "create"}, {:method => 'POST', :remote => true}) do
        = text_field_tag :search, params[:search], class: "form-control", placeholder: "Ingrese código", id: "search"
        %button{ type: "submit", class: "btn", id: "cotizar-code"}
          Cotizar
      %p.cotizar-codigo-subtitle Por favor ingrese el código del producto a cotizar
      


.col-lg-9.col-md-9.col-xs-12.col-sm-12{style:"padding: 0"}
  .col-lg-12.col-xs-12.terms
    = render 'terms'
  .col-lg-12.col-xs-12.guie{style:"padding: 0"}
    = render 'guie'

  = simple_form_for(@order, :url => '/create', :method => :post, :remote => true) do |f|
    .col-lg-12.col-xs-12.form-cotizar
      .description-product
        %p{style:"display: inline; font-weight: bold;"} Su producto
        %p.text#opcion-1 
        %p.text#opcion-2 
        %p.text#opcion-3 
        %p.text#opcion-4 
        %p.text#opcion-5
        %p.precotizar Complete todos los elementos para poder Cotizar
        %br
        = f.button :submit, "Cotizar", class: "btn btn-warning btn-submit", id: "btn-cotizatio", style:"display: none; float: right;"
        %i.fa.fa-circle-o-notch.fa-spin.fa-2x.fa-fw.margin-bottom.spinner{style:"display: none; color: #85A810;"}


      .tab-content 
        #tipo-de-armado.tab-pane.active{:role => "tabpanel"}
          %p.text-color-green-grande Selecciona el tipo de armado
          %hr.hidden-lg
          %p.text-color-green.hidden-xs.hidden-sm.hidden-md Indica como serán unidas las hojas del producto a elaborar

          
          .row{style:"margin: 0;"}
            .col-lg-4{style:"padding: 0;"}
              %label#option-block{:for => "order_type_armed_block"}
                %center
                  %i.fa.fa-caret-down#fa-caret-down-block
                .col-lg-12.col-xs-4{style:"padding: 0;"}
                  = image_tag "ordenes/arm02.png"
                .col-lg-12.col-xs-8{style:"padding: 0;"}
                  %span.text-format-bold Blocks 
                  %p Las hojas estan sujetas por una capa de pega o cola al lomo del mismo, esto permite desprender todas las copias, por lo que es ideal para el llenado por impresora. Esta forma de armado es la mas económica.
                  %input#order_type_armed_block{:name => "order[type_armed]", :type => "radio", :value => "Block", :style => "opacity: 0;"}
                    %label.collection_radio_buttons{:for => "order_type_armed_block"}
              %hr.hidden-lg
            .col-lg-4{style:"padding: 0;"}
              %label#option-talonario{:for => "order_type_armed_talonario"}
                %center
                  %i.fa.fa-caret-down#fa-caret-down-talonario
                .col-lg-12.col-xs-4{style:"padding: 0;"}
                  = image_tag "ordenes/arm01.png"
                .col-lg-12.col-xs-8{style:"padding: 0;"}
                  %span.text-format-bold Talonarios 
                  %p Las hojas estan sujetas por grapas y llevan una perforación que permite desprenderlas, la ultima copia queda fija al talonario, conservando así un registro organizado. Este tipo de armado es mas resistente a la manipulación..
                  %input#order_type_armed_talonario{:name => "order[type_armed]", :type => "radio", :value => "Talonario", :style => "opacity: 0;"}
                    %label.collection_radio_buttons{:for => "order_type_armed_talonario"}
              %hr.hidden-lg   
          
        #tamano.tab-pane.fade{:role => "tabpanel"}
          %p.text-color-green-grande Selecciona el tamaño de acuerdo a tus necesidades de espacio para escribir

          %p.text-color-green En los documentos fiscales todos los formatos incluyen los mismos campos de llenado (Razón social, domicilio fiscal, RIF, etc...) aunque el espacio para cada uno puede ser sensiblemente menor en los formatos mas pequeños.
          %hr.hidden-lg
          
          .row{style:"margin: 0;"}
            .col-lg-3{style:"padding: 0"}
              %label#option-1-24{:for => "order_format-1-24"}
                %center
                  %i.fa.fa-caret-down#fa-caret-down-1-24

                .col-lg-12.col-xs-12{style:"padding: 0;"}
                  = image_tag "ordenes/tam01.png"
                .col-lg-12.col-xs-12{style:"padding: 0;"}
                  %span.padding-left.text-format-bold Formato 1/24
                  %p.padding-left Este es el formato más pequeño que se puede adaptar para documentos fiscales, permite la inclusión de unos 10 items en formato horizontal o 18 en formato vertical. Es muy utilizado por los profesionales en libre ejercicio.
                  %input#order_format-1-24{:name => "order[format]", :type => "radio", :value => "1/24", :style => "opacity: 0;"}
                    %label.collection_radio_buttons{:for => "order_format-1-24"}
                = link_to "Ver ejemplo", "", "data-toggle"=>"modal", "data-target"=>"#124", style:"float: right;"
              %hr.hidden-lg

            .col-lg-3{style:"padding: 0"}
              %label#option-1-18{:for => "order_format-1-18"}
                %center
                  %i.fa.fa-caret-down#fa-caret-down-1-18
                .col-lg-12.col-xs-12{style:"padding: 0;"}
                  = image_tag "ordenes/tam02.png"
                .col-lg-12.col-xs-12{style:"padding: 0;"}
                  %span.padding-left.text-format-bold Formato 1/18
                  %p.padding-left Tambien conocido como Medio Oficio, es el formato más común para talonarios que serán llenados a mano. Permite incluir unos 14 items en formato horizontal o 20 en formato vertical. Así mismo si tu requerimiento de tamaño es Media Carta, debes cotizar para este formato. 
                  %input#order_format-1-18{:name => "order[format]", :type => "radio", :value => "1/18", :style => "opacity: 0;"}
                    %label.collection_radio_buttons{:for => "order_format-1-18"}
                = link_to "Ver ejemplo", "", "data-toggle"=>"modal", "data-target"=>"#118", style:"float: right;"
              %hr.hidden-lg

            .col-lg-3{style:"padding: 0"}
              %label#option-1-12{:for => "order_format-1-12"}
                %center
                  %i.fa.fa-caret-down#fa-caret-down-1-12
                .col-lg-12.col-xs-12{style:"padding: 0;"}
                  = image_tag "ordenes/tam03.png"
                .col-lg-12.col-xs-12{style:"padding: 0;"}
                  %span.padding-left.text-format-bold Formato 1/12
                  %p.padding-left Un formato de tamaño intermedio entre carta y media carta, da un poco mas de espacio que este último, a un precio más accesible que el tamaño carta u oficio. 
                  %input#order_format-1-12{:name => "order[format]", :type => "radio", :value => "1/12", :style => "opacity: 0;"}
                    %label.collection_radio_buttons{:for => "order_format-1-12"}
                = link_to "Ver ejemplo", "", "data-toggle"=>"modal", "data-target"=>"#112", style:"float: right;"
              %hr.hidden-lg

            .col-lg-3{style:"padding: 0"}
              %label#option-1-9{:for => "order_format-1-9"}
                %center
                  %i.fa.fa-caret-down#fa-caret-down-1-9
                .col-lg-12.col-xs-12{style:"padding: 0;"}
                  = image_tag "ordenes/tam04.png"
                .col-lg-12.col-xs-12{style:"padding: 0;"}
                  %span.padding-left.text-format-bold Formato 1/9 
                  %p.padding-left Un tamaño ideal para el llenado en computadora de un documento con una presentación formal. Es el formato más utilizado para las Formas Libres. 
                  %input#order_format-1-9{:name => "order[format]", :type => "radio", :value => "1/9", :style => "opacity: 0;"}
                    %label.collection_radio_buttons{:for => "order_format-1-9"}
                = link_to "Ver ejemplo", "", "data-toggle"=>"modal", "data-target"=>"#19", style:"float: right;"
              %hr.hidden-lg

        #numero-de-colores.fade.tab-pane{:role => "tabpanel"}
          %p.text-color-green-grande Escoje el número de tintas (colores) de impresión para tu producto. 
          %p.text-color-green Un número mayor de tintas de impresión, permite reproducir logotipos e imágenes a color y/o resaltar zonas especificas del documento pero incrementa el costo del producto.
          = link_to "Haz click aquí ", "", "data-toggle"=>"modal", "data-target"=>"#193", style:"display: inline;"
          %p.text-color-green{style:"display: inline;"} para ver la Paleta Básica de Colores, disponibles para la impresión a una, dos o tres tintas.
          %br
          %br
          %p.text-color-green Si requieres la impresión en un color que no aparece en la lista, puede solicitar la preparación colores específicos bajo el sistema Pantone®*
          %hr.hidden-lg
          .row{style:"margin:0;"}
            .col-lg-3{style:"padding: 0"}
              %label#option-tinta-1{:for => "order_ink-tinta-1"}
                %center
                  %i.fa.fa-caret-down#fa-caret-down-tinta-1
                .col-lg-12.col-xs-4{style:"padding: 0;"}
                  = image_tag "ordenes/col01.png"
                .col-lg-12.col-xs-8{style:"padding: 0;"}
                  %span.text-format-bold Impresión a 1 tinta
                  %p Por su costo menor, es el modo de impresión más utilizado para documentos fiscales. Permite la reproducción de múltiples tonalidades del mismo color.
                  %input#order_ink-tinta-1{:name => "order[ink]", :type => "radio", :value => "1 tinta", :style => "opacity: 0;"}
                    %label.collection_radio_buttons{:for => "order_ink-tinta-1"}
              %hr.hidden-lg

            .col-lg-3{style:"padding: 0"}
              %label#option-tinta-2{:for => "order_ink-tinta-2"}
                %center
                  %i.fa.fa-caret-down#fa-caret-down-tinta-2
                .col-lg-12.col-xs-4{style:"padding: 0;"}
                  = image_tag "ordenes/col02.png"
                .col-lg-12.col-xs-8{style:"padding: 0;"}
                  %span.text-format-bold Impresión a 2 tintas
                  %p Permite la impresión de dos colores en sus diferentes tonalidades y en cualquier combinación. Es ideal si lo que quieres es reproducir un logotipo a dos colores y/o resaltar ciertas áreas del formato. 
                  %input#order_ink-tinta-2{:name => "order[ink]", :type => "radio", :value => "2 tintas", :style => "opacity: 0;"}
                    %label.collection_radio_buttons{:for => "order_ink-tinta-2"}
              %hr.hidden-lg       

            .col-lg-3{style:"padding: 0"}
              %label#option-tinta-3{:for => "order_ink-tinta-3"}
                %center
                  %i.fa.fa-caret-down#fa-caret-down-tinta-3
                .col-lg-12.col-xs-4{style:"padding: 0;"}
                  = image_tag "ordenes/col03.png"
                .col-lg-12.col-xs-8{style:"padding: 0;"}
                  %span.text-format-bold Impresion a 3 tintas
                  %p Permite la impresión a tres colores en sus diferentes tonalidades en cualquier combinación. Brinda mayor libertad para el diseño de documentos impactantes. Es ideal si quieres mantener una imagen corporativa a tres colores y/o resaltar diversar áreas del formato con múltiples propósitos. 
                  %input#order_ink-tinta-3{:name => "order[ink]", :type => "radio", :value => "3 tintas", :style => "opacity: 0;"}
                    %label.collection_radio_buttons{:for => "order_ink-tinta-3"}
              %hr.hidden-lg      

            .col-lg-3{style:"padding: 0"}
              %label#option-tinta-4{:for => "order_ink-tinta-4"}
                %center
                  %i.fa.fa-caret-down#fa-caret-down-tinta-4
                .col-lg-12.col-xs-4{style:"padding: 0;"}
                  = image_tag "ordenes/col04.png"
                .col-lg-12.col-xs-8{style:"padding: 0;"}
                  %span.text-format-bold Impresion a 4 tintas (full color) 
                  %p Permite la reproducción de cualquier color usando sistema CMYK, aunque la concordancia de color es menor que usando el sistema Pantone®. 
                  %input#order_ink-tinta-4{:name => "order[ink]", :type => "radio", :value => "4 tintas (Full Color)", :style => "opacity: 0;"}
                    %label.collection_radio_buttons{:for => "order_ink-tinta-4"}
              %hr.hidden-lg

        #material.fade.tab-pane{:role => "tabpanel"}
          %p.text-color-green-grande Selecciona el tipo de material
          %p.text-color-green De acuerdo al uso y tipo de llenado para el cual será destinado el producto impreso, debes optar entre los distintos tipos materiales disponibles.
          %p.text-color-green.visible-lg Escoje el que más se adapte a tus necesidades.
          %hr.hidden-lg
          .row{style:"margin: 0;"}
            .col-lg-3{style:"padding: 0"}
              %label#option-material-1{:for => "order_material-quimico"}
                %center
                  %i.fa.fa-caret-down#fa-caret-down-material-1
                .col-lg-12.col-xs-4{style:"padding: 0;"}
                  = image_tag "ordenes/mat02.png"
                .col-lg-12.col-xs-8{style:"padding: 0;"}
                  %span.text-format-bold Papel Químico
                  %p Material que permite el copiado sin necesidad de papel carbón cuando el llenado es mano o en impresora de matriz de puntos. No apto para impresoras láser o de inyección de tinta.
                  %input#order_material-quimico{:name => "order[material]", :type => "radio", :value => "Papel quimico", :style => "opacity: 0;"}
                    %label.collection_radio_buttons{:for => "order_material-quimico"}
              %hr.hidden-lg

            .col-lg-3{style:"padding: 0"}
              %label#option-material-2{:for => "order_material-bond-base-16"}
                %center
                  %i.fa.fa-caret-down#fa-caret-down-material-2
                .col-lg-12.col-xs-4{style:"padding: 0;"}
                  = image_tag "ordenes/mat01.png"
                .col-lg-12.col-xs-8{style:"padding: 0;"}
                  %span.text-format-bold Papel Bond base 16
                  %p Permite el llenado a mano o en impresora de matriz de puntos usando papel carbón o en impresora inyección a tinta (una copia a la vez). Puede dar atascos en impresoras láser con temperaturas altas en el fusor. 
                  %input#order_material-bond-base-16{:name => "order[material]", :type => "radio", :value => "Papel bond 16", :style => "opacity: 0;"}
                    %label.collection_radio_buttons{:for => "order_material-bond-base-16"}
              %hr.hidden-lg

            .col-lg-3{style:"padding: 0"}
              %label#option-material-3{:for => "order_material-bond-base-20"}
                %center
                  %i.fa.fa-caret-down#fa-caret-down-material-3
                .col-lg-12.col-xs-4{style:"padding: 0;"}
                  = image_tag "ordenes/mat03.png"
                .col-lg-12.col-xs-8{style:"padding: 0;"}
                  %span.text-format-bold Papel Bond base 20
                  %p Permite el llenado a mano o en impresora de matriz de puntos usando papel carbón o en impresora inyección a tinta (una copia a la vez). Ideal para el llenado en impresoras láser. Original y copias en color blanco.. 
                  %input#order_material-bond-base-20{:name => "order[material]", :type => "radio", :value => "Papel bond 20", :style => "opacity: 0;"}
                    %label.collection_radio_buttons{:for => "order_material-bond-base-20"}
              %hr.hidden-lg

        #numeros-de-copias.tab-pane{:role => "tabpanel"}
          %p.text-color-green-grande De acuerdo a tus necesidades específicas, el producto puede tener un número determinado de copias.
          %p.text-color-green Cada original y sus copias se conoce como un juego, según número de copias el producto puede tener cantidades diferentes de juegos..
          %hr.hidden-lg
          .row{style:"margin:0;"}
            .col-lg-3{style:"padding: 0"}
              %label#option-original{:for => "order_copies-original"}
                %center
                  %i.fa.fa-caret-down#fa-caret-down-original
                .col-lg-12.col-xs-4{style:"padding: 0;"}
                  = image_tag "ordenes/cop01.png"
                .col-lg-12.col-xs-8{style:"padding: 0;"}
                  %span.text-format-bold Solo original
                  %p El producto contiene una hoja de cada número, se usa únicamente para documentos en los que no se requiere conservar una copia del mismo. Cada talonario o block contiene 100 hojas. No es apto para documentos fiscales.
                  %input#order_copies-original{:name => "order[copies]", :type => "radio", :value => "Original", :style => "opacity: 0;"}
                    %label.collection_radio_buttons{:for => "order_copies-original"}
              %hr.hidden-lg
       

            .col-lg-3{style:"padding: 0"}
              %label#option-duplicado{:for => "order_copies-duplicado"}
                %center
                  %i.fa.fa-caret-down#fa-caret-down-duplicado
                .col-lg-12.col-xs-4{style:"padding: 0;"}
                  = image_tag "ordenes/cop02.png"
                .col-lg-12.col-xs-8{style:"padding: 0;"}
                  %span.text-format-bold Duplicado
                  %p El producto contiene un original y una copia de cada número. Cada talonario o block contiene 50 juegos, es decir 100 hojas. 
                  %input#order_copies-duplicado{:name => "order[copies]", :type => "radio", :value => "Duplicado", :style => "opacity: 0;"}
                    %label.collection_radio_buttons{:for => "order_copies-duplicado"}
              %hr.hidden-lg

            .col-lg-3{style:"padding: 0"}
              %label#option-triplicado{:for => "order_copies-triplicado"}
                %center
                  %i.fa.fa-caret-down#fa-caret-down-triplicado
                .col-lg-12.col-xs-4{style:"padding: 0;"}
                  = image_tag "ordenes/cop03.png"
                .col-lg-12.col-xs-8{style:"padding: 0;"}
                  %span.text-format-bold Triplicado
                  %p El producto contiene un original y dos copias de cada número. Cada talonario o block contiene 50 juegos, es decir 150 hojas. 
                  %input#order_copies-triplicado{:name => "order[copies]", :type => "radio", :value => "Triplicado", :style => "opacity: 0;"}
                    %label.collection_radio_buttons{:for => "order_copies-triplicado"}
              %hr.hidden-lg

            .col-lg-3{style:"padding: 0"}
              %label#option-cuadruplicado{:for => "order_copies-cuadruplicado"}
                %center
                  %i.fa.fa-caret-down#fa-caret-down-cuadruplicado
                .col-lg-12.col-xs-4{style:"padding: 0;"}
                  = image_tag "ordenes/cop04.png"
                .col-lg-12.col-xs-8{style:"padding: 0;"}
                  %span.text-format-bold Cuadruplicado 
                  %p El producto contiene un original y tres copias de cada número. Cada talonario o block contiene 50 juegos, 200 hojas. 
                  %input#order_copies-cuadruplicado{:name => "order[copies]", :type => "radio", :value => "Cuadruplicado", :style => "opacity: 0;"}
                    %label.collection_radio_buttons{:for => "order_copies-cuadruplicado"}
              %hr.hidden-lg
            

#modals-examples
  = render 'format'

= render 'jquerys'


