					
.modal.fade#124
	.modal-dialog
		.modal-content
			.modal-header{ style: "padding:0px;"}
				%ul.nav.nav-pills.nav-justified
					%li.active{:role => "presentation"}
						%a{"aria-controls" => "model-124H", "data-toggle" => "pill", :href => "#model-124H", :role => "tab"} Ejemplo 1
					%li{:role => "presentation"}
						%a{"aria-controls" => "model-124V", "data-toggle" => "pill", :href => "#model-124V", :role => "tab"} Ejemplo 2
			.modal-body
				.tab-content{style:"top: 0 !important;"}
					#model-124H.tab-pane.fade.in.active{:role => "tabpanel"}
						= image_tag "format/modelos124/1_24H.png"
					#model-124V.tab-pane.fade{:role => "tabpanel"}
						= image_tag "format/modelos124/1_24V.png"
			.modal-footer
				%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar



.modal.fade#118
	.modal-dialog
		.modal-content
			.modal-header{ style: "padding:0px;"}
				%ul.nav.nav-pills.nav-justified
					%li.active{:role => "presentation"}
						%a{"aria-controls" => "model-118FL", "data-toggle" => "pill", :href => "#model-118FL", :role => "tab"} Ejemplo 1
					%li{:role => "presentation"}
						%a{"aria-controls" => "model-2", "data-toggle" => "pill", :href => "#model-118H", :role => "tab"} Ejemplo 2
					%li{:role => "presentation"}
						%a{"aria-controls" => "model-3", "data-toggle" => "pill", :href => "#model-118V", :role => "tab"} Ejemplo 3
			.modal-body
				.tab-content{style:"top: 0 !important;"}
					#model-118FL.tab-pane.fade.in.active{:role => "tabpanel"}
						= image_tag "format/modelos118/1_18FL.png"
					#model-118H.tab-pane.fade{:role => "tabpanel"}
						= image_tag "format/modelos118/1_18H.png"
					#model-118V.tab-pane.fade{:role => "tabpanel"}
						= image_tag "format/modelos118/1_18V.png"
			.modal-footer
				%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar




.modal.fade#112
	.modal-dialog
		.modal-content
			.modal-header{ style: "padding:0px;"}
				%ul.nav.nav-pills.nav-justified
					%li.active{:role => "presentation"}
						%a{"aria-controls" => "model-112CR", "data-toggle" => "pill", :href => "#model-112CR", :role => "tab"} Ejemplo 1
					%li{:role => "presentation"}
						%a{"aria-controls" => "model-112FL", "data-toggle" => "pill", :href => "#model-112FL", :role => "tab"} Ejemplo 2
					%li{:role => "presentation"}
						%a{"aria-controls" => "model-112SR", "data-toggle" => "pill", :href => "#model-112SR", :role => "tab"} Ejemplo 3
			.modal-body
				.tab-content{style:"top: 0 !important;"}
					#model-112CR.tab-pane.fade.in.active{:role => "tabpanel"}
						= image_tag "format/modelos112/1_12CR.png"
					#model-112FL.tab-pane.fade{:role => "tabpanel"}
						= image_tag "format/modelos112/1_12FL.png"
					#model-112SR.tab-pane.fade{:role => "tabpanel"}
						= image_tag "format/modelos112/1_12SR.png"
			.modal-footer
				%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar


.modal.fade#19
	.modal-dialog
		.modal-content
			.modal-header{ style: "padding:0px;"}
				%ul.nav.nav-pills.nav-justified
					%li.active{:role => "presentation"}
						%a{"aria-controls" => "model-19CR", "data-toggle" => "pill", :href => "#model-19CR", :role => "tab"} Ejemplo 1
					%li{:role => "presentation"}
						%a{"aria-controls" => "model-19FL", "data-toggle" => "pill", :href => "#model-19FL", :role => "tab"} Ejemplo 2
					%li{:role => "presentation"}
						%a{"aria-controls" => "model-19SR", "data-toggle" => "pill", :href => "#model-19SR", :role => "tab"} Ejemplo 3
			.modal-body
				.tab-content{style:"top: 0 !important;"}
					#model-19CR.tab-pane.fade.in.active{:role => "tabpanel"}
						= image_tag "format/modelos19/1_9CR.png"
					#model-19FL.tab-pane.fade{:role => "tabpanel"}
						= image_tag "format/modelos19/1_9FL.png"
					#model-19SR.tab-pane.fade{:role => "tabpanel"}
						= image_tag "format/modelos19/1_9SR.png"
			.modal-footer
				%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar


.modal.fade#193
	.modal-dialog
		.modal-content
			.modal-header{ style: "padding:0px;"}
				%ul.nav.nav-pills.nav-justified
					%li.active{:role => "presentation"}
						%a{"aria-controls" => "model-19CR", "data-toggle" => "pill", :href => "#model-19CR", :role => "tab"} Paletas de colores

			.modal-body
				.tab-content{style:"top: 0 !important;"}
					#model-19CR.tab-pane.fade.in.active{:role => "tabpanel"}
						= image_tag "paleta_colores.jpg"

			.modal-footer
				%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar


.modal.fade.bs-example-modal-lg#349{:role => "dialog", :tabindex => "-1"}
	.modal-dialog
		.modal-content
			.modal-header{ style: "padding:0px;"}
				.row
					.col-lg-10
						%h5{style:"padding: 10px 15px 0 15px; margin: 0; color:#666666;"} Utiliza el código que aparece en tu factura o presupuesto 
						%h5{style:"padding: 2px 15px 10px 15px; margin: 0; color:#666666;"} para obtener una cotización actualizada del producto.
					.col-lg-2
						%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
							%span{"aria-hidden" => "true"} &times;
			.modal-body
				= image_tag "modal-ayuda.png"
			.modal-footer
				%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar
