.col-lg-4.col-md-4{style:"padding: 0;"}
	.container-guie
		%p#text-top Para comenzar por favor pulse en el primer icono, una vez, completado los 5 elementos, pulse “Cotizar”
		%i.fa.fa-caret-left#arrow-top.visible-lg.visible-md
		%p#text-top-2.hidden-xs.hidden-sm También puede cotizar introduciendo el código de su producto en la casilla inferior izquierda.
		%i.fa.fa-caret-left#arrow-buttom.visible-lg.visible-md

