.item#ink-description
	%p{ style: "font-weight: none; text-align:justify;"}
		Escoje el número de tintas (colores) de impresión para tu producto. Un número mayor de tintas de impresión, permite reproducir  logotipos e imágenes a color y/o resaltar zonas especificas del documento; pero incrementa el costo del producto.
	%p{ style: "font-weight: none; text-align:justify;"}
		Haz 
		= link_to "click", "", "data-toggle"=>"modal", "data-target"=>"#paleta"
		aquí para ver la Paleta Básica de Colores, disponibles para la impresión a una, dos o tres tintas. 
	%p{ style: "font-weight: none; text-align:justify;"}
		Si requieres la impresión en un color que no aparece en la lista, puede solicitar la preparación colores específicos bajo el sistema Pantone®*
	.modal.fade#paleta
		.modal-dialog
			.modal-content
				.modal-header
					%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
						%span{"aria-hidden" => "true"} &times;
					%h4.modal-title{ style: "color:#555555; font-size: 14px; "} Tabla de colores
				.modal-body
					= image_tag "tabla-colores.png"
				.modal-footer
					%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar
	%br
	.element-selected
		.row#1-color.item-desc
			.col-lg-4.desc
				= image_tag "ink/1-tinta.png"
			.col-lg-8
				%label{ style: "font-size: 20px;"} Impresión a 1 tinta
				%p{ style: "text-align:justify;" }
					Por su costo menor, es el modo de impresión más utilizado para documentos fiscales. Permite la reproducción de múltiples tonalidades del mismo color.
		.row#2-colores.item-desc
			.col-lg-4
				= image_tag "ink/2-tintas.png"
			.col-lg-8.desc
				%label{ style: "font-size: 20px;"} Impresión a 2 tintas
				%p{ style: "text-align:justify;" }
					Permite la impresión de dos colores en sus diferentes tonalidades y en cualquier combinación. Es ideal si lo que quieres es reproducir un logotipo a dos colores y/o resaltar ciertas áreas del formato.
		.row#3-colores.item-desc
			.col-lg-4
				= image_tag "ink/3-tintas.png"
			.col-lg-8.desc
				%label{ style: "font-size: 20px;"} Impresion a 3 tintas
				%p{ style: "text-align:justify;" }
					Permite la impresión a tres colores en sus diferentes tonalidades en cualquier combinación. Brinda mayor libertad para el diseño de documentos impactantes. Es ideal si quieres mantener una imagen corporativa a tres colores y/o resaltar diversar áreas del formato con múltiples propósitos.
		.row#all-colors.item-desc
			.col-lg-4
				= image_tag "ink/4-tintas.png"
			.col-lg-8.desc
				%label{ style: "font-size: 20px;"} Impresion a 4 tintas (full color)
				%p{ style: "text-align:justify;" }
					Permite la reproducción de cualquier color usando sistema CMYK, aunque la concordancia de color es menor que usando el sistema Pantone®.

