:javascript

  $(document).on('ready page:load', function() {

    $(".form-cotizar").hide();
    $(".guie").hide();

    $("#show-form, #show-form-mobile").click(function(){
      $(".guie").hide();
      $(".form-cotizar").show();
      $(".ng-scope").css("background", "#fff");
    });

    $( "#btn-cotizatio" ).click(function() {
      $( this ).hide();
      $(".fa-circle-o-notch").show();
    });

    $( "#menu-1" ).click(function() {
        $('.nav-tabs a[href="#' + 'tipo-de-armado' + '"]').tab('show');
    });

    $( "#menu-1-mobile" ).click(function() {
        /*$('#front-navbar').css("display", "none");*/
        /*$('.menu-select').css("top", "0");*/
        /*$('.cotization').css("margin-top", ".1px");*/        
    })

    $( "#btn-acept-terms" ).click(function() {
      $( ".terms" ).hide();
      $(".guie").show();
      $("#show-form").removeClass('disabled');
      $("#show-form-mobile").removeClass('disabled');
      $('html,body').animate({ scrollTop: 0 }, 500);
      $('.cotization').css("background", "transparent");
      $('.cotization').css("height", "auto");
      $('.menu-select').css("display", "block");

    });

    $( "#btn-acept-guie" ).click(function() {
      $(".guie").hide();
    });

    $( "#option-block" ).click(function() {
     $( "#opcion-1" ).text( "Blocks > " );
     $( this ).css( "border", "1px solid #F29500" );
     $("#fa-caret-down-block").show();
     $( "#option-talonario" ).css( "border", "none" );
     $("#fa-caret-down-talonario").hide();
     $("#menu-2, #menu-2-mobile").removeClass('disabled');
     /*$('.nav-tabs a[href="#' + 'tamano' + '"]').tab('show');*/
     $('#menu-1-mobile').removeClass('active');
     $('#menu-1-mobile').addClass('active2');
     $('#menu-1').addClass('active2');
     $('.precotizar').hide();
     $("#btn-cotizatio").prop('disabled', false);
    });

    $( "#option-talonario" ).click(function() {
     $( "#opcion-1" ).text( "Talonarios > " );
     $( this ).css( "border", "1px solid #F29500" );
     $( "#option-block" ).css( "border", "none" );
     $("#fa-caret-down-talonario").show();
     $("#fa-caret-down-block").hide();
     $("#menu-2, #menu-2-mobile").removeClass('disabled');
     /*$('.nav-tabs a[href="#' + 'tamano' + '"]').tab('show');*/
     $('#menu-1-mobile').removeClass('active');
     $('#menu-1-mobile').addClass('active2');
     $('#menu-1').addClass('active2');
     $('.precotizar').hide();
     $("#btn-cotizatio").prop('disabled', false);

    });



    $( "#option-1-24" ).click(function() {
     $( "#opcion-2" ).text( "Formato 1/24 > " );
     $( this ).css( "border", "1px solid #F29500" );
     $( "#option-1-18, #option-1-12, #option-1-9").css( "border", "none" );
     $("#fa-caret-down-1-24").show();
     $("#fa-caret-down-1-18, #fa-caret-down-1-12, #fa-caret-down-1-9").hide();
     $("#menu-3, #menu-3-mobile").removeClass('disabled');
     /*$('.nav-tabs a[href="#' + 'numero-de-colores' + '"]').tab('show');*/
     $('#menu-2-mobile').removeClass('active');
     $('#menu-2-mobile').addClass('active2');
     $('#menu-2').addClass('active2');
     $("#btn-cotizatio").prop('disabled', false);

    });

    $( "#option-1-18" ).click(function() {
     $( "#opcion-2" ).text( "Formato 1/18 > " );
     $( this ).css( "border", "1px solid #F29500" );
     $( "#option-1-24, #option-1-12, #option-1-9").css( "border", "none" );
     $("#fa-caret-down-1-18").show();
     $("#fa-caret-down-1-24, #fa-caret-down-1-12, #fa-caret-down-1-9").hide();
     $("#menu-3, #menu-3-mobile").removeClass('disabled');
     /*$('.nav-tabs a[href="#' + 'numero-de-colores' + '"]').tab('show');*/
     $('#menu-2-mobile').removeClass('active');
     $('#menu-2-mobile').addClass('active2');
     $('#menu-2').addClass('active2');
     $("#btn-cotizatio").prop('disabled', false);
    });

    $( "#option-1-12" ).click(function() {
     $( "#opcion-2" ).text( "Formato 1/12 > " );
     $( this ).css( "border", "1px solid #F29500" );
     $( "#option-1-24, #option-1-18, #option-1-9").css( "border", "none" );
     $("#fa-caret-down-1-12").show();
     $("#fa-caret-down-1-18, #fa-caret-down-1-24, #fa-caret-down-1-9").hide();
     $("#menu-3, #menu-3-mobile").removeClass('disabled');
     /*$('.nav-tabs a[href="#' + 'numero-de-colores' + '"]').tab('show');*/
     $('#menu-2-mobile').removeClass('active');
     $('#menu-2-mobile').addClass('active2');
     $('#menu-2').addClass('active2');
     $("#btn-cotizatio").prop('disabled', false);
    });

    $( "#option-1-9" ).click(function() {
     $( "#opcion-2" ).text( "Formato 1/9 > " );
     $( this ).css( "border", "1px solid #F29500" );
     $( "#option-1-24, #option-1-18, #option-1-12").css( "border", "none" );
     $("#fa-caret-down-1-9").show();
     $("#fa-caret-down-1-18, #fa-caret-down-1-12, #fa-caret-down-1-24").hide();
     $("#menu-3, #menu-3-mobile").removeClass('disabled');
     /*$('.nav-tabs a[href="#' + 'numero-de-colores' + '"]').tab('show');*/
     $('#menu-2-mobile').removeClass('active');
     $('#menu-2-mobile').addClass('active2');
     $('#menu-2').addClass('active2');
     $("#btn-cotizatio").prop('disabled', false);
    });



    $( "#option-tinta-1" ).click(function() {
     $( "#opcion-3" ).text( "1 Tinta > " );
     $( this ).css( "border", "1px solid #F29500" );
     $( "#option-tinta-2, #option-tinta-3, #option-tinta-4").css( "border", "none" );
     $("#fa-caret-down-tinta-1").show();
     $("#fa-caret-down-tinta-2, #fa-caret-down-tinta-3, #fa-caret-down-tinta-4").hide();
     $("#menu-4, #menu-4-mobile").removeClass('disabled');
     /*$('.nav-tabs a[href="#' + 'material' + '"]').tab('show');*/
     $('#menu-3-mobile').removeClass('active');
     $('#menu-3-mobile').addClass('active2');
     $('#menu-3').addClass('active2');
     $("#btn-cotizatio").prop('disabled', false);
    });

    $( "#option-tinta-2" ).click(function() {
     $( "#opcion-3" ).text( "2 Tintas > " );
     $( this ).css( "border", "1px solid #F29500" );
     $( "#option-tinta-1, #option-tinta-3, #option-tinta-4").css( "border", "none" );
     $("#fa-caret-down-tinta-2").show();
     $("#fa-caret-down-tinta-1, #fa-caret-down-tinta-3, #fa-caret-down-tinta-4").hide();
     $("#menu-4, #menu-4-mobile").removeClass('disabled');
     /*$('.nav-tabs a[href="#' + 'material' + '"]').tab('show');*/
     $('#menu-3-mobile').removeClass('active');
     $('#menu-3-mobile').addClass('active2');
     $('#menu-3').addClass('active2');
     $("#btn-cotizatio").prop('disabled', false);
    });

    $( "#option-tinta-3" ).click(function() {
     $( "#opcion-3" ).text( "3 Tintas > " );
     $( this ).css( "border", "1px solid #F29500" );
     $( "#option-tinta-1, #option-tinta-2, #option-tinta-4").css( "border", "none" );
     $("#fa-caret-down-tinta-3").show();
     $("#fa-caret-down-tinta-2, #fa-caret-down-tinta-1, #fa-caret-down-tinta-4").hide();
     $("#menu-4, #menu-4-mobile").removeClass('disabled');
     /*$('.nav-tabs a[href="#' + 'material' + '"]').tab('show');*/
     $('#menu-3-mobile').removeClass('active');
     $('#menu-3-mobile').addClass('active2');
     $('#menu-3').addClass('active2');
     $("#btn-cotizatio").prop('disabled', false);
    });

    $( "#option-tinta-4" ).click(function() {
     $( "#opcion-3" ).text( "4 Tintas (Full color) > " );
     $( this ).css( "border", "1px solid #F29500" );
     $( "#option-tinta-1, #option-tinta-2, #option-tinta-3").css( "border", "none" );
     $("#fa-caret-down-tinta-4").show();
     $("#fa-caret-down-tinta-2, #fa-caret-down-tinta-3, #fa-caret-down-tinta-1").hide();
     $("#menu-4, #menu-4-mobile").removeClass('disabled');
     /*$('.nav-tabs a[href="#' + 'material' + '"]').tab('show');*/
     $('#menu-3-mobile').removeClass('active');
     $('#menu-3-mobile').addClass('active2');
     $('#menu-3').addClass('active2');
     $("#btn-cotizatio").prop('disabled', false);
    });



    $( "#option-material-1" ).click(function() {
     $( "#opcion-4" ).text( "Papel Quimico > " );
     $( this ).css( "border", "1px solid #F29500" );
     $( "#option-material-2, #option-material-3").css( "border", "none" );
     $("#fa-caret-down-material-1").show();
     $("#fa-caret-down-material-2, #fa-caret-down-material-3").hide();
     $("#menu-5, #menu-5-mobile").removeClass('disabled');
     /*$('.nav-tabs a[href="#' + 'numeros-de-copias' + '"]').tab('show');*/
     $('#menu-4-mobile').removeClass('active');
     $('#menu-4-mobile').addClass('active2');
     $('#menu-4').addClass('active2');
     $("#btn-cotizatio").prop('disabled', false);
    });

    $( "#option-material-2" ).click(function() {
     $( "#opcion-4" ).text( "Papel Bond base 16 > " );
     $( this ).css( "border", "1px solid #F29500" );
     $( "#option-material-1, #option-material-3").css( "border", "none" );
     $("#fa-caret-down-material-2").show();
     $("#fa-caret-down-material-1, #fa-caret-down-material-3").hide();
     $("#menu-5, #menu-5-mobile").removeClass('disabled');
     /*$('.nav-tabs a[href="#' + 'numeros-de-copias' + '"]').tab('show');*/
     $('#menu-4-mobile').removeClass('active');
     $('#menu-4-mobile').addClass('active2');
     $('#menu-4').addClass('active2');
     $("#btn-cotizatio").prop('disabled', false);
    });

    $( "#option-material-3" ).click(function() {
     $( "#opcion-4" ).text( "Papel Bond base 20 > " );
     $( this ).css( "border", "1px solid #F29500" );
     $( "#option-material-1, #option-material-2").css( "border", "none" );
     $("#fa-caret-down-material-3").show();
     $("#fa-caret-down-material-2, #fa-caret-down-material-1").hide();
     $("#menu-5, #menu-5-mobile").removeClass('disabled');
     /*$('.nav-tabs a[href="#' + 'numeros-de-copias' + '"]').tab('show');*/
     $('#menu-4-mobile').removeClass('active');
     $('#menu-4-mobile').addClass('active2');
     $('#menu-4').addClass('active2');
     $("#btn-cotizatio").prop('disabled', false);
    });


    $( "#option-original" ).click(function() {
     $( "#opcion-5" ).text( "Solo original" );
     $( "#btn-cotizatio" ).show();
     $( this ).css( "border", "1px solid #F29500" );
     $( "#option-duplicado, #option-triplicado, #option-cuadruplicado").css( "border", "none" );
     $("#fa-caret-down-original").show();
     $( "#fa-caret-down-duplicado, #fa-caret-down-triplicado, #fa-caret-down-cuadruplicado").hide();
     $('html,body').animate({ scrollTop: 0 }, 800);
     $('#menu-5-mobile').removeClass('active');
     $('#menu-5-mobile').addClass('active2');
     $('#menu-5').addClass('active2');
     $("#btn-cotizatio").prop('disabled', false);
    });

    $( "#option-duplicado" ).click(function() {
     $( "#opcion-5" ).text( "Duplicado" );
     $( "#btn-cotizatio" ).show();
     $( this ).css( "border", "1px solid #F29500" );
     $( "#option-original, #option-triplicado, #option-cuadruplicado").css( "border", "none" );
     $("#fa-caret-down-duplicado").show();
     $( "#fa-caret-down-original, #fa-caret-down-triplicado, #fa-caret-down-cuadruplicado").hide();
     $('html,body').animate({ scrollTop: 0 }, 800);
     $('#menu-5-mobile').removeClass('active');
     $('#menu-5-mobile').addClass('active2');
     $('#menu-5').addClass('active2');
     $("#btn-cotizatio").prop('disabled', false);
    });

    $( "#option-triplicado" ).click(function() {
     $( "#opcion-5" ).text( "Triplicado" );
     $( "#btn-cotizatio" ).show();
     $( this ).css( "border", "1px solid #F29500" );
     $( "#option-duplicado, #option-original, #option-cuadruplicado").css( "border", "none" );
     $("#fa-caret-down-triplicado").show();
     $( "#fa-caret-down-duplicado, #fa-caret-down-original, #fa-caret-down-cuadruplicado").hide();
     $('html,body').animate({ scrollTop: 0 }, 800);
     $('#menu-5-mobile').removeClass('active');
     $('#menu-5-mobile').addClass('active2');
     $('#menu-5').addClass('active2');
     $("#btn-cotizatio").prop('disabled', false);
    });

    $( "#option-cuadruplicado" ).click(function() {
     $( "#opcion-5" ).text( "Cuadruplicado" );
     $( "#btn-cotizatio" ).show();
     $( this ).css( "border", "1px solid #F29500" );
     $( "#option-duplicado, #option-triplicado, #option-original").css( "border", "none" );
     $("#fa-caret-down-cuadruplicado").show();
     $( "#fa-caret-down-duplicado, #fa-caret-down-triplicado, #fa-caret-down-original").hide();
     $('html,body').animate({ scrollTop: 0 }, 800);
     $('#menu-5-mobile').removeClass('active');
     $('#menu-5-mobile').addClass('active2');
     $('#menu-5').addClass('active2');
     $("#btn-cotizatio").prop('disabled', false);
    });

    $("#menu-1").click(function() {
        $(this).addClass("active");
        $("#menu-4, #menu-2, #menu-3, #menu-5").removeClass("active");
    });

    $("#cotizar-code").hide();

    $("#cotizar-code").click(function() {
        $(".navbar-collapse").removeClass("in");
    });

    $("#cotizar-code-nav").click(function() {
        $(".navbar-collapse").removeClass("in");
    });

    $("#search").keypress(function() {
      if($(this).val().length >= 6) {
        $(".cotizar-codigo-subtitle").hide()
        $("#cotizar-code").show()
      } 
    });

    $("#search").keydown(function() {
      if($(this).val().length < 10) {
        $("#cotizar-code").hide()
      } 
    })

    $("#help").click(function() {
        $('#349').modal('show');
    });

    $("#help-nav").click(function() {
        $(".navbar-collapse").removeClass("in");
        $('#349').modal('show');
    });

    $("#menu-1-mobile").click(function() {
        $("#menu-2-mobile, #menu-3-mobile, #menu-4-mobile, #menu-5-mobile").removeClass("active");
    });

    $("#menu-2-mobile").click(function() {
        $("#menu-1-mobile, #menu-3-mobile, #menu-4-mobile, #menu-5-mobile").removeClass("active");
    });

    $("#menu-3-mobile").click(function() {
        $("#menu-2-mobile, #menu-1-mobile, #menu-4-mobile, #menu-5-mobile").removeClass("active");
    });

    $("#menu-4-mobile").click(function() {
        $("#menu-2-mobile, #menu-3-mobile, #menu-1-mobile, #menu-5-mobile").removeClass("active");
    });

    $("#menu-5-mobile").click(function() {
        $("#menu-2-mobile, #menu-3-mobile, #menu-4-mobile, #menu-1-mobile").removeClass("active");
    });
  });