.item#material-description
	%p{ style: "font-weight: none; text-align:justify;"}
		De acuerdo al uso y tipo de llenado para el cual será destinado el producto impreso,   debes optar entre los distintos tipos materiales disponibles. Escoje el que más se adapte a tus necesidades.
	.element-selected
		.row#chemical.item-desc
			.col-lg-4
				= image_tag "material/Papel-Quimico.png"
			.col-lg-8.desc
				%label{ style: "font-size: 20px;"} Papel Químico
				%p{ style: "text-align:justify;" }
					Material que permite el copiado sin necesidad de papel carbón cuando el llenado es mano o en impresora de matriz de puntos. No apto para impresoras láser o de inyección de tinta.
		.row#bond-16.item-desc
			.col-lg-4
				= image_tag "material/Bond16.png"
			.col-lg-8.desc
				%label{ style: "font-size: 20px;"} Papel Bond base 16
				%p{ style: "text-align:justify;" }
					Permite el llenado a mano o en impresora de matriz de puntos usando papel carbón o  en impresora inyección a tinta (una copia a la vez). Puede dar atascos en impresoras láser con temperaturas altas en el fusor.
		.row#bond-20.item-desc
			.col-lg-4
				= image_tag "material/Bond20.png"
			.col-lg-8.desc
				%label{ style: "font-size: 20px;"} Papel Bond base 20
				%p{ style: "text-align:justify;" }
					Permite el llenado a mano o en impresora de matriz de puntos usando papel carbón o en impresora inyección a tinta (una copia a la vez). Ideal para el llenado en impresoras láser. Original y copias en color blanco.

