.modal.fade{:role => "dialog", :tabindex => "-1", id: "myModal-#{@prices_count}"}
  .modal-dialog
    .modal-content
      .modal-body
        - if @prices and !@prices.empty?
          .panel.panel-default#result
            .panel-heading.results
              %p.modal-title
                Resultados de búsqueda
            .panel-heading{ style: "background: white"}
              %label
                Código:
                %span{style: "color: #004693;"}= params[:search] ? params[:search] : @order.create_cod
              %br
              %h5
                = @prices.first.Descripcion.upcase
            %table.table.table-bordered.th-size
              %thead
                %tr{ style: "background:#576A7B; color: white;"}
                  %th 
                    %center Cantidad
                  %th.hidden-xs 
                    %center Precio Unitario
                  %th 
                    %center Monto
                  %th 
                    %center IVA
                  %th 
                    %center Total a pagar
              %tbody
                - @prices.reverse.each do |price|
                  - precio_total = price.Precio*price.Codigo.to_i
                  - iva = (price.Precio*price.Codigo.to_i)*@iva
                  %tr
                    %td
                      %center
                        = price.Codigo.to_i
                    %td.hidden-xs 
                      %center
                        = number_to_currency(price.Precio, :precision => 2, format: "%n %u", unit: "")
                    %td
                      %center
                        = number_to_currency(precio_total, :precision => 2, format: "%n %u", unit: "")
                    %td
                      %center
                        = number_to_currency(iva, :precision => 2, format: "%n %u", unit: "")
                    %td
                      %center
                        = number_to_currency(precio_total+iva, :precision => 2, format: "%n %u", unit: "")
        - elsif params[:search] and @prices.empty?
          .panel.panel-default#result
            .panel-heading.results
              = #image_tag "calculator.png", class: "pull-left hidden-xs", style: "margin-right: 10px;"
              %p
                Auto cotizador para Blocks y Talonarios
            .panel-heading
              %label
                %center
                  No se encontraron resultados de búsqueda para el código: 
                  %span{style: "color: #004693;"}= params[:search] ? params[:search] : @order.create_cod
              %br
        - elsif @prices and @prices.empty?
          .panel.panel-default#result
            .panel-heading.results
              = #image_tag "calculator.png", class: "pull-left hidden-xs", style: "margin-right: 10px;"
              %p
                Actualmente no hay disponibilidad
            .panel-heading
              %label
                %center
                  No hay disponobilidad de:
                  %span{style: "color: #004693;"}= params[:search] ? params[:search] : @order.material
              %br
        - elsif @prices and @prices.empty?
          .panel.panel-default#result
            .panel-heading.results
              = #image_tag "calculator.png", class: "pull-left hidden-xs", style: "margin-right: 10px;"
              %p
                Actualmente no hay disponibilidad
            .panel-heading
              %label
                %center
                  No hay disponobilidad de:
                  %span{style: "color: #004693;"}= params[:search] ? params[:search] : @order.material
              %br
      .modal-footer
        %button.btn.btn-default#btn-close-modal{"data-dismiss" => "modal", :type => "button"} Cerrar

  