- if action_name == "new"
  .col-fhd-8.col-lg-8.col-xs-12#terms-conditions{style:"padding: 0;"}
    .panel.panel-default
      .panel-body
        .description
          .item#default.current.animate
            %p.title ¡Bienvenido al Autocotizador!

            %p Esta herramienta te permite estimar el precio de tu producto impreso. Al ir seleccionando una de las características verás una explicación, así como recomendaciones para cada una de ellas.

            %p 
              Si ya has elaborado ese producto previamente con nosotros puedes ingresar en la parte inferior izquierda el código de producto que aparece en la factura para obtener el precio actualizado. 

            %p
              Estos precios aplican tanto para documentos fiscales como no fiscales y están sujetos a la disponibilidad de materiales.

            %p
              En caso de requerir una cotización para cantidades o características no disponibles en esta aplicación, por favor envíe un correo a  
              = link_to "ventas@suimprenta.com.ve", "#" 
              indicando sus requerimientos específicos. 
            %p 
              Antes de comenzar debes aceptar las
              = link_to "Condiciones de Uso", "http://suimprenta.com.ve/condiciones_uso.html"
              de esta herramienta.
            =link_to "", id: "btn-acept-terms" do
              ACEPTO
              
            =link_to root_path, id: "btn-negar-terms" do
              NO ACEPTO

            