.item#type-armed-description
	%p{ style: "font-weight: none; text-align:justify;"} Indica como serán unidas las hojas del producto a elaborar
	
	.element-selected
		.row#block.item-desc
			.col-lg-4
				= image_tag "tipo/Blocks.png"
			.col-lg-8.desc
				%label{ style: "font-size: 20px;"} Blocks
				%p{ style: "text-align:justify;" }
					Las hojas estan sujetas por una capa de pega o cola al lomo del mismo, esto permite desprender todas las copias, por lo que es ideal para el llenado por impresora. Esta forma de armado es la mas económica.
			
		.row#talonario.item-desc
			.col-lg-4
				= image_tag "tipo/Talonarios.png"
			.col-lg-8.desc
				%label{ style: "font-size: 20px;"} Talonarios
				%p{ style: "text-align:justify;" }
					Las hojas estan sujetas por grapas y llevan una perforación que permite desprenderlas, la ultima copia queda fija al talonario, conservando así un registro organizado. Este tipo de armado es mas resistente a la manipulación. 
			