$('body').append("<%= j render 'modal' %>")
$('#myModal-<%= @prices_count %>').modal('show');
$(".fa-circle-o-notch").hide();
$("#btn-cotizatio").prop('disabled', true);
$( "#btn-cotizatio" ).show();
