= content_for(:title, "Cotizaciones")
%center
	.cotization
		.row{style:"margin: 0; height: 100%;"}
			.col-lg-12.col-md-12.col-sm-12.col-xs-12{style:"padding: 0; height: 100%;"}
				= render 'form'	
	
	
