.cotization {
	.item {
		display: none;
		opacity: 0;
	}

	.item.current {
		display: block !important;
	}

	.animate {
		opacity: 1 !important;
		-webkit-transition: 0.3s;
  	transition: 0.3s;
	}

	.modal{
		.item{
			display: block !important;
			opacity: 1;
		}
	}
}