#admin-navbar.navbar-default {
	font-weight: bold;
	font-size: 14px;
	background-color: #0070B3;
	border-bottom: solid 5px #DB9600;
	margin-bottom: 0px;
	border-radius: 0px;

	
	.navbar-nav {
		margin: 0px;
	}

	.navbar-nav > li > a {
		font-weight: bold;
		color: white;
	}

	.navbar-nav > li:hover {
		background: #ECA000;
		transition: all 0.5s ease-in-out;
	}

	.enable {
		position: relative;
		top: -4px;
	}

	.navbar-nav > .enable > a {
		color: #26bf28;
		border-bottom: 2px solid #26bf28;
		padding-bottom: 5px;
	}

	.navbar-brand {
		padding: 5px 30px 5px 20px;
		height: 45px;
	}

	.navbar-toggle{
		margin-left: 30px;
	}

	.navbar-collapse {
		padding-right: 0px;
	}

	#links-sidebar > li{
		font-weight: bold;
		color: white;
	}
	.navbar-toggle {
		border: none;
		background: #FFE07E;
		border-bottom: 2px solid #B6A049;		
		.icon-bar{
			color: #ffffff;
		}
	}
	.navbar-toggle .icon-bar {
		background-color: #B39624;
	}
}

