.modal-stamp {
	.row {
		padding: 20px 0px 15px 0px;
	}

	h1 {
		color:white; 
		margin:0px;
	}

	p {
		color: white;
	}

	h2, h3 {
		color: rgb(239, 228, 0);
	}

	#almohadilla {
		border: 3px solid rgb(12, 116, 180); 
		border-top:0px; 
		border-bottom: 0px;
	}
}

.nav-pills.categories-stamp{
	.active {
		a {
			background: rgb(14, 102, 153);
			border-radius:0px;
		}

		a:hover{
			background: rgb(14, 102, 153);
			border-radius:0px;
		}
	}

	li {
		a{
			border-radius:0px;
		}

		a:hover{
			border-radius:0px;
		}
	}
}