
#front-navbar.navbar-default {
	margin-bottom: 0px;
	background: #006199;
	border: none;
	border-radius: 0px;
	font-family: 'Roboto', sans-serif;
	position: absolute;
	width: 100%;
	z-index: 1;

	@media (min-width: 320px) {
		height: 82px;
	}

	@media (min-width: 991px) {
		height: 95px;
	}

	.container {
		width: 100%;

		@media (min-width: 991px) {
			width: 900px;
			padding: 0;
		}

		@media (min-width: 320px) {
			padding: 0;
		}

		.navbar-header {
			.navbar-toggle {
				@media (max-width: 640px) {
					margin-top: 17px;
					z-index: 10000;
				}
			}
		}
	}

	#logo-sellos{
		width: 212px;
		position: relative;
		top: -2px;

		@media (max-width: 640px) {
			width: 169px;
			margin-top: 0;
			top: 2px;
		}

		@media (min-width: 768px) {
			left: 7px;
			margin-top: 0;
			top: 2px;
			width: 169px;
		}

		@media (min-width: 1024px) {
			left: -20px;
			margin-top: 0;
			top: 8px;
			width: 169px;
		}
	}

	.in {
		padding-right: 3%;
		padding-left: 3%;
		top: 5px;

	}

	.navbar-collapse, .collapse, .in {
		border: 0;
		top: 15px;
		position: relative;
		background: #006199;

		@media (min-width: 768px) {
			top: -4px;
		}

		@media (min-width: 991px) {
			top: 3px;
		}

		@media (min-width: 1024px) {
			top: 3px;
		}

		
	}
	
	.collapse, .navbar-collapse, .in {
		position: relative;
		border-color: transparent;

		@media (min-width: 320px) {
			background: #006199;
			height: auto;
			box-shadow: none;
		}

		#cotizar-code-nav {
			background: #F29500;
			color: #fff;
			float: right;
			margin-top: 10px;
			margin-bottom: 10px;
		}

		#search-nav {
			width: 93%;
			display: inline-block;
		}

		#help-nav {
			display: inline-block;
			width: 5%;

			i {
				border-radius: 0 5px 5px 0;
				color: #fff;
				float: right;
				font-size: 18px;
				height: 34px;
				padding: 7px 6px;
				position: absolute;
				right: 0px;
				top: 0;
				cursor: pointer;
				

				@media (min-width: 480px) {
					border-radius: 0 5px 5px 0;
					color: #fff;
					float: right;
					font-size: 18px;
					height: 34px;
					padding: 7px 11px;
					position: absolute;
					right: 0%;
					top: 0;
				}

				@media (min-width: 375px) {
					border-radius: 0 5px 5px 0;
					color: #fff;
					float: right;
					font-size: 18px;
					height: 34px;
					padding: 7px 11px;
					position: absolute;
					right: -5px;
					top: 0;
				}

				@media (min-width: 640px) {

					border-radius: 0 5px 5px 0;
					color: #fff;
					float: right;
					font-size: 18px;
					height: 34px;
					padding: 8px 16px;
					position: absolute;
					right: 0px;
					top: 0;
				}
			}
		}

		.back-mobile {
			@media (min-width: 320px) {
				position: absolute;
				color: white;
				bottom: 15px;
				left: 11px;

			}

			@media (min-width: 767px) {
				position: absolute;
				color: white;
				bottom: 25px;
				left: none;
				right: 16px;
			}
		}

		
		.back{
			position: relative;
			color: white;
			float: right;

			@media (min-width: 640px) {
				top: 20px;
			}

			@media (min-width: 1120px) {
				top: 25px;
			}
		}

		.icon-back{
			position: relative;
			float: right;
			color: white;
			font-size: 26px;

			@media (min-width: 640px) {
				top: 16px;
				right: 5px;
			}

			@media (min-width: 1120px) {
				margin-right: 10px;
				top: 22px;
			}
		}
	}
	

	ul.nav.navbar-nav {

		@media (max-width: 640px) {
			margin-left: 0;
		}

		a {	
			width: 120px;
			border-left: 1px solid #0075b0;
			color: #b2b2b2;

			@media (max-width: 640px) {
				border-left: 0;
			}

			p {
				max-width: 70px;
				margin: 0px;
				font-weight: 600;
			}
		}

		li {
			@media (max-width: 767px) {
				position: relative;
				display: inline-block;
				float: left;
				text-align: left;
			}
		}
		
		li.current {
			a {
				color: white;
			}
		}
	}

	.brand{
		position: relative;
		img{
			position: relative;

			@media (min-width: 320px) {
				width: 200px;
				margin-top: 8px;
				z-index: 10000;
			}

			@media (min-width: 991px) {
				width: 70%;
				top: 12px;
				margin-top: 0;
				float: left;
			}			
		}
	}
	
}

