.ng-scope {
}

.modal-body {
	padding: 0; 
}

.modal-footer{
	border-top: none;
}


.cotization {
	font-family: 'Roboto', sans-serif;
	color: #555555;
	margin-top: 95px;

	@media (min-width: 991px) {
		width: 900px;
		height: 100% !important;
	}

	@media (min-width: 320px) {
		margin-top: 82px;
	}

	.form-cotizar{
		@media (min-width: 320px) {
			padding: 0 10px;
		}
	}

	#terms-conditions{
		position: relative;
		top: 20px;
		box-shadow: 0 0 20px rgb(185, 184, 184);

		@media (min-width: 991px) {
			width: 80%;
			left: 15%;
			top: 50px;
		}

		.panel-default {
			border: none;
			margin: 0;

		}

		.title{
			color: #000;
			font-size: 22px;

			@media (max-width: 375px) {
				font-size: 20px;
			}

			@media (max-width: 320px) {
				font-size: 17px;
			}
		}

		p{
			font-size: 16px;
			color: #4D4D4D;
			margin-bottom: 20px;
			text-align: justify;

			@media (max-width: 480px) {
				font-size: 14px;
			}
		}

		#btn-acept-terms{
			float: right;
			
		}

		#btn-negar-terms{
			float: right;
			margin-right: 10px;
		}
	}

	.container-guie{
		position: relative;
		padding: 0 7%;
		box-shadow: 5px 5px 5px #888888;

		@media (min-width: 320px) {
			padding: 0 10px;
			background: #FBD79D;
			padding: 10px 25px;
		}

		@media (min-width: 991px) {
			background-color: white;
			height: 525px;
			margin-top: 25%;
			left: 15%;
			padding: 10px 18px;

		}

		#text-top{
			position: absolute;
			text-align: justify;

			@media (min-width: 480px) {
				text-align: center;
				top: 5px;
			}	

			@media (min-width: 320px) {
				position: relative;
			}
		
			@media (min-width: 991px) {
				top: 35px;
				padding-right: 0px;
				font-size: 16px;
				text-align: justify;
			}						
		}

		#text-top-2{
			position: absolute;
			text-align: justify;

			@media (min-width: 991px) {
				bottom: 30px;
				padding-right: 15px;
				font-size: 16px;
			}
		}

		#text-bottom {
			
			position: relative;
			font-size: 18px;
		}

		spam { 
			font-weight: bold;
			position: relative;
			font-size: 18px;
			display: inline;
		}

		#text-buttom{
			position: relative;
			font-size: 18px;
		}

		i{
			position: relative;	
			color: #F29500;

			@media (min-width: 991px) {
				left: -15%;
				font-size: 90px;
			}
		}

		#arrow-top{
			position: absolute;
			top: 40px;
		}

		#arrow-buttom{
			position: absolute;
			bottom: 40px;
		}
	}

	.tab-content{
		position: relative;
		text-align: justify;
	}

	.description-product{
		border-bottom: 2px solid #6699FF;
		padding: 10px 0 35px 0;
		text-align: justify;

		@media (min-width: 1120px) {
			padding: 20px 0 35px 0;
		}

		.text{
			display: inline;
			font-size: 14px;
		}

		.precotizar{
			font-size: 12px;
			position: absolute;
			right: 10px;

			@media (min-width: 320px) {
				top: 45px;
			}
		}

		#btn-cotizatio{
		}

		.spinner{
			position: relative;
			float: right;
		}
	}

	.tab-content{

		#btn-cotizatio{
			width: 25%;
			height: 45px;
			font-size: 18px;
			position: relative;
			top: -25px;

		}

		.text-color-green-grande{
			font-size: 18px;
			color: #85A810;
			text-align: justify;

			@media (min-width: 1120px) {
				font-size: 16px;
			}

			@media (min-width: 320px) {
				font-size: 16px;
			}
		}

		.text-color-green{
			font-size: 18px;
			color: #4d4d4d;
			text-align: justify;

			@media (min-width: 1120px) {
				font-size: 16px;
			}

			@media (min-width: 320px) {
				font-size: 14px;
			}
		}

		.collection_radio_buttons {
			display: none;
		}

		#option-block, #option-talonario {
			
			input {
				display: none;
			}	
		}

		#option-original, #option-duplicado, #option-triplicado, #option-cuadruplicado {


			input {
				display: none;
			}

			img {
			}
		}

		#option-block, #option-talonario{


			input {
				display: none;
			}

			img {
			}
		}

		#option-material-1, #option-material-2, #option-material-3{
			
			input {
				display: none;
			}
		}

		#option-1-24, #option-1-18, #option-1-12, #option-1-9 {

			img {
			}

			input {
				display: none;
			}
		}

		#option-tinta-1, #option-tinta-2, #option-tinta-3, #option-tinta-4 {

			img {
			}

			input {
				display: none;
			}
		}

		label{
			cursor: pointer;
			padding: 10px;

			center{
				height: 10px;
			}

			i{
				font-size: 5rem;
				position: relative;
				top: -29px;
				color: rgb(242, 149, 0);
				display: none;
			}

			span{
			
			}

			p{
				margin-top: 10px;
				text-align: justify;
				font-size: 13px;
				color: rgba(51, 51, 51, 0.7);
			}

			.text-format-bold{
				font-weight: bold;
				color: #333;
			}

			.link-color-blue{
				color: #6699FF;
				float: right;
			}

			a {
				color: #6699ff;
			}		
		}

		label:hover{
			border: 1px solid #F29500;
		}

		.padding-left{
		}
	} 

	.menu-select{
		background-color: #85A810;
		height: 100%;

		@media (min-width: 320px) {
			display: none;
		}

		@media (min-width: 991px) {
			display: inherit;
		}

		@media (min-width: 1120px) {
			display: inherit;
		}

		@media (max-width: 1366px) and (max-height: 768px) {
			height: 110%;
		}

		#cotizar-code{
			background: #F29500;
			color: #fff;
			float: right;
			margin-top: 10px;
		}

		.cotizar-codigo{

			@media (min-width: 320px) {
				display: none;
			}

			@media (min-width: 991px) {
				display: inherit;
			}
		}
		
		.menu-select-title{
			color: #fff;
			font-size: 15px;
			font-weight: bold;

			@media (min-width: 320px) {
				display: none;
			}

			@media (min-width: 991px) {
				padding: 30px 10px;
				text-align: justify;
				display: inherit;
				font-size: 13.7px;
			}
		}

		.nav-tabs{

			.disabled{
				pointer-events:none;
			}

			li{	
				width: 100%;
				display: -webkit-box;
				border-bottom: 2px solid #fff;
				padding: 0;
	
				@media (min-width: 320px) {
					background: #006199;
					border-bottom: 0;
					display: table-cell;
					padding-top: 10px;
					width: 1%;
				}

				@media (min-width: 1120px) {
					width: 101%;
					display: inline-flex;
					border-bottom: 2px solid #fff;
					padding: 0;
					background: transparent;
					@-moz-document url-prefix() {
						select {padding-bottom:18px;}
					}
				}

				@media (min-width: 991px) {
					background: transparent;
					border-bottom: 2px solid #fff;
					display: inline-flex;
					padding: 0;
					width: 100%;
				}

				a {
					background: transparent;
					border: none;
					color: #fff;
					opacity: 0.5;
					width: 100%;

					img{
						margin: 0;
						height: 40px; 
						display: inline-block;

						@media (min-width: 991px) {
							float: left;
						}	
					}

					p {
						display: inline-block;

						@media (min-width: 991px) {
							margin: 10px 0 0;
						}

						@media (min-width: 320px) {
							display: table;
						}
					}
				}			
			}

			.active2 {

				background: #006199;

				@media (min-width: 991px) {
					background: transparent;
				}

				a{
					/*background: rgba(255, 255, 255, 0.5);*/			
					border: none;
					opacity: 1;
				}
			}

			.active{

				a{
					background: rgba(255, 255, 255, 0.5);
					border: none;
					opacity: 1;
				}
			}
		}

		.cotizar-codigo {
			margin-top: 30px;
			color: #fff;
			width: 100%;

			@media (min-width: 991px) {
				padding: 0 7%;
			}


			.cotizar-codigo-title {
				padding: 0;
				display: inline-block;
				float: left;
			}

			.cotizar-codigo-subtitle {
				margin-top: 10px;
				text-align: justify;
			}

			#imput-search {
				width: 100%;
			}

			i {
				display: inline-block;
				background: #006199;
				border-radius: 50%;
				color: white;
				float: right;
				font-size: 18px;
				padding: 2px 6px;
			}
		}
	}
}

#format-description {
	.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	  color: white;
	  background-color: #002f62;
	  border-radius: 0px;
	}
}


.caption-description {
	border: solid 1px rgb(224, 224, 224);
	padding: 20px;
	margin-top: 20px;
	margin-left: 5%;
	margin-right: 5%;

	h3 {
		margin: 0px;
		margin-bottom: 10px;
	}

	p {
		color: #555555;
		margin-bottom: 0px;
	}
}

.caption {
	p {
		margin: 0px;
	}
}

.radio-validation {
	display: inline;
	margin-left: 4%;
}

.images-order {
	margin-top: 10px;
	position: relative;
	.select-image {
		position: absolute;
		font-size: 100px;
		top: 70px;
		right: 50px;
	}
}

.item {
	.item-desc {
		margin-top: 20px;

		.desc {
			margin-top: 5px;
		}
	}
}

.results {
	font-size: 25px;
	p {
		color: #002F62;

		@media (max-width: 640px) {
			font-size: 18px;
		}

	}
	height: 60px;
}


.modal {
	@media (min-width: 320px) {
		top: 90px;
	}

	.th-size {
		@media (max-width: 320px) {
			font-size: 10px;
		}
	}
}
