.stamps-frontend{
	color: #555555 !important;
	font-family: 'Open Sans', sans-serif;
	ul.categories-stamp{
		padding: 30px 9.5% 30px 9.5%;
		//large
		@media(min-width:1600px) {
			padding: 30px 21% 30px 21%;
		}
		//phone
		@media(max-width: 767px) {
			padding: 30px 5% 30px 5%;
			width: 100%
		}
	}
	.container{
		max-width: 900px;
		@media(min-width:1600px) {
			max-width: 100%;
		}

		@media(max-width:969px) {
			text-align: center;
			padding: 0;
		}
	}

	.padding {
		@media(min-width: 320px) {
			padding: 0 15%;
		}

		@media(min-width: 425px) {
			padding: 0 19%;
		}

		@media(min-width: 768px) {
			padding: 0;
			text-align: left;
		}
	}

	.margin-top {	

		@media(min-width: 1024px) {
			margin-top: 10px;
		}

		@media(min-width: 1200px) {
			margin-top: 110px;
		}
	}

	.example-used {		

		@media(min-width: 320px) {
			margin-top:  68px;
		}

		@media(min-width: 425px) {
			margin-top:  87px;
		}

		@media(min-width: 600px) {
			margin-top:  110px;
		}
	}

	.col-padding { 
		@media(min-width: 768px) {
			padding: 0;
			text-align: left;
		}
	}

	.example-stamp {
		@media(min-width: 768px) {
			margin: 0 0 10px 0;
			text-align: left;
		}

		@media(min-width: 1024px) {
			margin: 0;
		}
	}

	.btn-primary {
		@media(min-width: 320px) {
			margin-bottom: 10px;
		}
	}
	

	.content-img-stamp{
		position: relative;

		img {

			@media(min-width: 320px) {
				max-width: 200%;
				width: 125%;
			}

			@media(min-width: 600px) {
				max-width: 200%;
				width: 100%;
			}

			@media(min-width: 1440px) {
				max-width: 100%;
				width: 100%;
			}
		}

		.cod-stamp{
			position: relative;
			top: 0px;
			left: 0px;
			color: #004577;
			font-size: 20px;
			font-weight: 600;

			@media(min-width: 320px) {
				float: left;
			}
		}
	}

	.img-content{
		width: 170px;

		@media(min-width: 320px) {
			width: auto;
		}
	}
}

#modal-catalog {
	top: 0;
	text-align: center;
}