= content_for(:title, "Admin - Categorías")
= simple_form_for(@category) do |f|
	.panel.panel-default
		.panel-heading
			%i.fa.fa-th-list
			Datos de categoría
		.panel-body
			.form-inputs
				= f.input :name, label: false, input_html: { class: "form-control", placeholder: 'Nombre' }
				%br/
				= f.input :description, label: false, as: :text, input_html: { class: "form-control", placeholder: 'Descripción' }
		.panel-footer
			= f.button :submit, "Guardar", class: 'btn btn-warning pull-right'
			.clearfix
