= content_for(:title, "Admin - Categorías")

%div{'ng-controller'=>'indexCategoryCtrl',  'ng-init'=>'init()', style:"padding:30px;padding-bottom:0px;"}
  .angular
    .form-inline
      .form-group
        .input-group
          .input-group-addon
            %i.fa.fa-search
          %input#input-search{"ng-model" => "buscar.$", :placeholder => "Filtrar búsqueda", :type => "text"} 
    .alert{class: 'alert-{{statusAlert}}', 'ng-show'=>"alert==true"} 
      %strong Admin:    
      {{msnAlert}}
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
    = render 'layouts/admin/messages'

    %br/
    .panel.panel-default
      .panel-heading
        = link_to new_category_path, class: "btn btn-default", title: t("admin.buttons.new") do
          %i.fa.fa-plus-circle
        %a.btn.btn-default{"ng-show" => "categories.data.length", "ng-click" => "allSelected(categories)", :title => t("admin.buttons.select_all") }
          %i.fa.fa-check-square-o
        %button#btn-delete.btn.btn-default{class: "btn-{{btnDelete}}", "ng-click" => "destroy()", :title => t("admin.buttons.trash") }
          %i.fa.fa-trash-o
        %button.btn.btn-default.pull-right.hidden-xs{'disabled'=>"", style:"color:#000"}
          Página {{page}}
        %button.btn.btn-default.pull-right{"ng-click" => "nextList();"}
          %i.fa.fa-arrow-right
        %button.btn.btn-default.pull-right{"ng-click" => "lastList();"}
          %i.fa.fa-arrow-left
        .clearfix
      .panel-body
        %table{style: "width:100%"}
          %tbody
            %th
            %th{ "ng-show" => "categories.data.length != 0" }
              %center
                Nombre
            %th{ "ng-show" => "categories.data.length != 0" }
              %center
                Descripción
            %tr{ class: "select-{{categorie.checked}}", "ng-click" => "show(categorie.id)", :id => "row-{{categorie.id}}", "ng-repeat" => "categorie in categories.data | filter:buscar | interval:interval_a:interval_b"}
              %td.messages{width: "1px;"}
                %input.check{:id => "check-{{categorie.id}}", "ng-click" => "selected(categorie.id); $event.stopPorpagation();", :type => "checkbox", "ng-model" => "categorie.checked"}
              %td.messages 
                %center {{categorie.name}}
              %td.messages 
                %center {{categorie.description}}
              %td.messages
                = link_to "/admin/categories/{{categorie.id}}", title: t('admin.actions.show') do
                  %i.fa.fa-exclamation-circle
                = link_to "/admin/categories/{{categorie.id}}/edit", title: t('admin.actions.edit') do
                  %i.fa.fa-edit
                = link_to "{{destroy_path(categorie.id)}}", title: t('admin.actions.delete'), :method => :delete, :data => { :confirm => '¿Estás seguro de querer eliminar esta categoría?' } do
                  %i.fa.fa-trash-o
            %tr{"ng-show" => "!categories.data.length"}
              %td{:style => "width:100%"}
                %center
                  - if Category.count != 0
                    %i.fa.fa-spinner.fa-spin{ style: "font-size:30px; margin-bottom:10px;"}
                    %br
                    Espere unos segundos
                  - else
                    No hay sellos
              
      .panel-footer
        %center
          %strong {{ categories.data.length }} 
          Sellos
