%p= "Hola #{@resource.email}!"
%p Alguien ha solicitado cambiar tu contraseña. Puede hacerlo a través del siguiente enlace.
%p= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token)
%p Si usted no ha solicitado este, por favor, ignora este mensaje.
%p La contraseña no cambiará hasta que acceda al enlace anterior y crear una nueva contraseña.