%div{ style: "padding:30px; padding-bottom:0px;"}
	.panel.panel-default
		.panel-heading
			Validacion de diseño para la orden 
			%strong= "#{@validation.ods_id}"
		= simple_form_for(@validation) do |f|
			.panel-body
				.form-inputs
					= f.input :status, label: false, collection: ['Aprobado', "Aprobado con observaciones", "Desaprobado"], include_blank: "- Validación -", input_html: { class: "form-control" }
					%br
					= f.input :description, label: false, input_html: { class: 'form-control', placeholder: "Argumenta tu validación", style: "height: 120px;" }
					%br
					= f.input :ods_id, as: :hidden

			.panel-footer
				= link_to "Volver", od_path(@validation.ods_id), class: "btn btn-default"
				= f.submit "Validar", class: "pull-right btn btn-warning"
				.clearfix
