%h1 Listing validations

%table
  %tr
    %th Status
    %th Description
    %th Active
    %th Ods
    %th
    %th
    %th

  - @validations.each do |validation|
    %tr
      %td= validation.status
      %td= validation.description
      %td= validation.active
      %td= validation.ods_id
      %td= link_to 'Show', validation
      %td= link_to 'Edit', edit_validation_path(validation)
      %td= link_to 'Destroy', validation, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Validation', new_validation_path
