%p#notice= notice

%p
  %b Status:
  = @validation.status
%p
  %b Description:
  = @validation.description
%p
  %b Active:
  = @validation.active
%p
  %b Ods:
  = @validation.ods_id

= link_to 'Edit', edit_validation_path(@validation)
\|
= link_to 'Back', validations_path
