%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
  %title= content_for?(:title) ? yield(:title) : 'Inyxmater Rails'
  %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Inyxmater Rails'}"}

  %link{ href: 'http://fonts.googleapis.com/css?family=Open+Sans:600,400,300', rel: 'stylesheet', type: 'text/css' }
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags