-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default#front-navbar
	.container
		%center
			.navbar-header
				
				%button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
					%span.sr-only Toggle navigation
					%span.icon-bar
					%span.icon-bar
					%span.icon-bar
				= #link_to "http://suimprenta.com.ve"
				.brand
					- if controller_name.eql?("visitors")
						= image_tag "logo_sellos.png", id: "logo-sellos"			
					- else
						= image_tag "logo_autocotizador.png", id: "logo-autocotizador"
				
			.collapse.navbar-collapse
				%ul.nav.navbar-nav
					- if controller_name.eql?("visitors")
						= render 'layouts/visitors_navigation_links'
					- else
						= render 'layouts/budget_navigation_links'

				= link_to 'Volver', "http://suimprenta.com.ve/", class: "back hidden-xs hidden-sm"
				%i.fa.fa-angle-left.icon-back.hidden-xs.hidden-sm
				
				- if controller_name != "visitors"
					.cotizar-codigo.row.visible-xs{style:"margin:0"}
						.col-xs-12{style:"padding: 0"}
							= form_tag({controller: "orders", action: "create"}, {:method => 'POST', :remote => true}) do
								= text_field_tag :search, params[:search], class: "form-control", placeholder: "Ingrese código", id: "search-nav"
								= link_to "#", id:"help-nav" do
									%i.fa.fa-question

								%button{ type: "submit", class: "btn", id: "cotizar-code-nav"}
									Cotizar
				- if controller_name != "visitors"
					= link_to 'Volver', "http://suimprenta.com.ve/", class: "back-mobile hidden-lg hidden-md"
			 