!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Inyxmater Rails'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'LithoXpress Online - Consulta de Ordenes'}"}
    %meta{:content => "#004577", :name => "theme-color"}
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto", :rel => "stylesheet", :type => "text/css"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = favicon_link_tag "favicon.ico"
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags  
  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/messages'
      = yield
      - if controller_name == "orders"
        :javascript
          $("body").css("background", "#e6e6e6");
            
